In [2]:
## GRCh37
import pandas as pd

In [6]:
hg19 = pd.read_csv('cnvator_data_sudmant_overlapped.csv')
hg19

## ADDING DUPLICATION/DELETION COLUMN 

deletions = hg19[hg19['RD'] < 2 ] 
deletions['type'] = 'DEL'
duplications= hg19[hg19['RD'] > 2] 
duplications['type'] = 'DUP'

frames = [deletions,duplications]

hg19 = pd.concat(frames)
hg19

/tmp/ipykernel_780861/938391690.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deletions['type'] = 'DEL'
/tmp/ipykernel_780861/938391690.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplications['type'] = 'DUP'

,Sample_ID,Chr,Start_original,End_original,Start,End,SIZE,SCORE,RD,LENGHT,P-VALUE,GAUSSIAN,type
1,LP6005441-DNA_A01,1,471201,551200,471226,471326,1.0,deletion,0.187758,80000.0,1.992160e-12,2.215930e+09,DEL
2,LP6005441-DNA_A01,1,723801,728100,712534,763301,3.0,duplication,1.594500,4300.0,1.120070e-02,1.742820e+09,DEL
3,LP6005441-DNA_A01,1,1010901,1014200,1009660,1015541,1.0,deletion,0.498249,3300.0,5.434590e-04,2.196950e+09,DEL
4,LP6005441-DNA_A01,1,4124201,4127700,4120597,4131559,1.0,deletion,0.505571,3500.0,4.553500e-11,2.217790e-35,DEL
5,LP6005441-DNA_A01,1,13472301,13657600,13512627,13526732,1.0,deletion,0.370209,185300.0,8.600780e-13,2.425910e+02,DEL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
256091,SS6004480,X,140664701,140668600,140316939,140789715,3.0,duplication,2.493820,3900.0,1.634590e-10,2.018470e-19,DUP
256092,SS6004480,X,140664701,140668600,140650676,140764691,3.0,duplication,2.493820,3900.0,1.634590e-10,2.018470e-19,DUP
256100,SS6004480,X,148877901,148906400,148876062,148899877,3.0,duplication,2.082470,28500.0,0.000000e+00,4.570220e-64,DUP
256101,SS6004480,X,148956401,149032000,148959280,149029111,3.0,duplication,2.096810,75600.0,0.000000e+00,5.350920e-34,DUP
256102,SS6004480,X,150501101,150504700,150479524,150505374,3.0,duplication,2.278970,3600.0,5.604600e-07,5.737490e-29,DUP

In [7]:
input_hg19_annotsv = pd.DataFrame()
input_hg19_annotsv['chr'] = hg19['Chr']
input_hg19_annotsv['start'] = hg19['Start']
input_hg19_annotsv['end'] = hg19['End']
input_hg19_annotsv['type'] = hg19['type']
input_hg19_annotsv['sample'] = hg19['Sample_ID']
input_hg19_annotsv

       chr      start        end type             sample
1        1     471226     471326  DEL  LP6005441-DNA_A01
2        1     712534     763301  DEL  LP6005441-DNA_A01
3        1    1009660    1015541  DEL  LP6005441-DNA_A01
4        1    4120597    4131559  DEL  LP6005441-DNA_A01
5        1   13512627   13526732  DEL  LP6005441-DNA_A01
...     ..        ...        ...  ...                ...
256091   X  140316939  140789715  DUP          SS6004480
256092   X  140650676  140764691  DUP          SS6004480
256100   X  148876062  148899877  DUP          SS6004480
256101   X  148959280  149029111  DUP          SS6004480
256102   X  150479524  150505374  DUP          SS6004480

[256117 rows x 5 columns]

In [8]:
input_hg19_annotsv.to_csv('hg19_input_annotsv.bed', sep='\t', header=False, index=False)

In [13]:
pd.read_table('/home/jbazanwilliamson/data/20230411_AnnotSV/hg19_input_annotsv.annotated.tsv')

/opt/spack/opt/spack/linux-rhel8-icelake/gcc-8.4.1/anaconda3-2021.05-fmo625scqdt32etnaksoexe3rd6sea7j/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3460: DtypeWarning: Columns (1,31,36,43,44,45,46,47,49,54,56,57,58,59,60,61,69,70,71,72,73) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,AnnotSV ID,SV chrom,SV start,SV end,SV length,Unnamed: 5,Unnamed: 6,AnnotSV type,Gene name,NM,...,misZ_ExAC,pLI_ExAC,delZ_ExAC,dupZ_ExAC,cnvZ_ExAC,morbidGenes,morbidGenesCandidates,Mim Number,Phenotypes,Inheritance
0,1_228416_267160_,1,228416,267160,NaN,DEL,LP6005441-DNA_A03,full,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1_228416_267160_,1,228416,267160,NaN,DEL,LP6005441-DNA_A04,full,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1_228416_267160_,1,228416,267160,NaN,DEL,LP6005441-DNA_A05,full,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1_228416_267160_,1,228416,267160,NaN,DEL,LP6005441-DNA_A06,full,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1_228416_267160_,1,228416,267160,NaN,DEL,LP6005441-DNA_A06,full,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261114,X_154908191_154948137_,X,154908191,154948137,NaN,DUP,LP6005592-DNA_E02,full,SPRY3,NaN,...,0.068813,0.030161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261115,X_154908191_154948137_,X,154908191,154948137,NaN,DUP,LP6005592-DNA_G03,full,SPRY3,NaN,...,0.068813,0.030161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261116,X_154908191_154948137_,X,154908191,154948137,NaN,DUP,SS6004470,full,SPRY3,NaN,...,0.068813,0.030161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261117,X_154908191_154948137_,X,154908191,154948137,NaN,DUP,SS6004472,full,SPRY3,NaN,...,0.068813,0.030161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261118,X_154908191_154948137_,X,154908191,154948137,NaN,DUP,SS6004475,full,SPRY3,NaN,...,0.068813,0.030161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN