In [1]:
import pandas as pd
import numpy as np
import seaborn
import matplotlib
import statistics
from sklearn.decomposition import PCA
from sklearn.decomposition import KernelPCA
from sklearn.manifold import TSNE
from sklearn.manifold import MDS
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
import math
import glob
from itertools import combinations
from matplotlib import pyplot as plt
from Bio import Phylo
import biotite
from pca_plot import *
from vst_function import *
from stattools.resampling import PermutationTest
from scipy import stats
from pyranges import PyRanges
import seaborn as sns

In [2]:
## Read and merge files 
anotation = pd.read_csv('../data/SGDP_anotation.csv', sep=',', encoding='latin-1')

ids_hg19 = pd.DataFrame()
ids_hg19['Sample'] = anotation['3-Illumina_ID']
ids_hg19['Region'] = anotation['10-Region']

In [3]:
def read_file(file):
    """
    Read a file to a dict of lists.

    :param str file: Path to a sample file.
    :return: dict of lists of records
    :rtype: dict
    """
    vcf_dict = []
    #df = pd.DataFrame()
    with open(file, 'r') as invcf:
        for line in invcf:
            if line.startswith('track'):
                continue
                
    
    
            line = line.strip().split()
            CHR = line[0]
            START = line[1]
            END = line[2]
            SCORE = line[3]
            name = str(file.split('/')[-1]) 
            
            if SCORE == '2':
                continue
            
            vcf_dict.append([name, CHR, START,END, SCORE])
            
            
    return vcf_dict



def read_multiple_files(path_of_files):
    """
    Read the path of vcf files to a dataframe.
    :param str file: Path to a files.
    :return: dict of lists of  records
    :rtype: dict
    """
    files = glob.glob(path_of_files+'*')
    chm13list = []
    for file in files:
        #return pd.DataFrame(read_vcf(file))
        chm13list.append(read_file(file))
    
    return (chm13list)


df = read_multiple_files('../data/CHM13_SGDP/')

In [4]:
Output = []
  
# Using iteration
for temp in df:
    for elem in temp:
        Output.append(elem)

In [5]:
chm13 = pd.DataFrame(Output)

chm13.columns = ['Sample', 'Chromosome', 'Start', 'End', 'Score']
chm13['Start'] = chm13['Start'].astype(int)
chm13['End'] = chm13['End'].astype(int)
chm13['Score'] = chm13['Score'].astype(int)

#chm13.to_csv('t2tchm13_cnvs.csv')
## Keeping only samples that are on old cnvs 
chm13 = chm13.merge(ids_hg19, on=['Sample'])


chm13

,Sample,Chromosome,Start,End,Score,Region
0,LP6005442-DNA_A11,CP068254.1,0,1000,836,WestEurasia
1,LP6005442-DNA_A11,CP068254.1,1000,2228,884,WestEurasia
2,LP6005442-DNA_A11,CP068254.1,2228,3378,798,WestEurasia
3,LP6005442-DNA_A11,CP068254.1,3378,4522,811,WestEurasia
4,LP6005442-DNA_A11,CP068254.1,4522,5522,905,WestEurasia
...,...,...,...,...,...,...
35659700,LP6005441-DNA_B09,CP086569.2,62447554,62448825,25,EastAsia
35659701,LP6005441-DNA_B09,CP086569.2,62448825,62449825,27,EastAsia
35659702,LP6005441-DNA_B09,CP086569.2,62449825,62450825,29,EastAsia
35659703,LP6005441-DNA_B09,CP086569.2,62450825,62451825,27,EastAsia
35659704,LP6005441-DNA_B09,CP086569.2,62451825,62460029,29,EastAsia

In [6]:
#REMOVE SAMPLES WITH ABERRATIONS
samples_with_aberrations = ['LP6005441-DNA_B03', ' LP6005443-DNA_G01', 'LP6005441-DNA_G09', 'LP6005441-DNA_D04'] 

chm13 = chm13[~chm13.Sample.isin(samples_with_aberrations)]


chm13#.value_counts(by=["Sample_ID"])
#chm13.columns = ['Chromosome', 'Start', 'End', 'CNVR_ID', 'Sample', 'CNV_start', 'CNV_end', 'Score', 'Length']
chm13

,Sample,Chromosome,Start,End,Score,Region
0,LP6005442-DNA_A11,CP068254.1,0,1000,836,WestEurasia
1,LP6005442-DNA_A11,CP068254.1,1000,2228,884,WestEurasia
2,LP6005442-DNA_A11,CP068254.1,2228,3378,798,WestEurasia
3,LP6005442-DNA_A11,CP068254.1,3378,4522,811,WestEurasia
4,LP6005442-DNA_A11,CP068254.1,4522,5522,905,WestEurasia
...,...,...,...,...,...,...
35659700,LP6005441-DNA_B09,CP086569.2,62447554,62448825,25,EastAsia
35659701,LP6005441-DNA_B09,CP086569.2,62448825,62449825,27,EastAsia
35659702,LP6005441-DNA_B09,CP086569.2,62449825,62450825,29,EastAsia
35659703,LP6005441-DNA_B09,CP086569.2,62450825,62451825,27,EastAsia
35659704,LP6005441-DNA_B09,CP086569.2,62451825,62460029,29,EastAsia

In [7]:
## ADDING DUPLICATION/DELETION COLUMN 
deletions = chm13[chm13['Score'] < 2 ] 
deletions['Type'] = 'deletion'
duplications= chm13[chm13['Score'] > 2] 
duplications['Type'] = 'duplication'

frames = [deletions,duplications]

chm13 = pd.concat(frames)
chm13

/var/folders/05/4pfxtbrs5459ytz3j1jhcgt00000gn/T/ipykernel_28619/4150614961.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deletions['Type'] = 'deletion'
/var/folders/05/4pfxtbrs5459ytz3j1jhcgt00000gn/T/ipykernel_28619/4150614961.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplications['Type'] = 'duplication'

,Sample,Chromosome,Start,End,Score,Region,Type
17,LP6005442-DNA_A11,CP068255.2,79662,98643,1,WestEurasia,deletion
18,LP6005442-DNA_A11,CP068255.2,105118,116978,1,WestEurasia,deletion
20,LP6005442-DNA_A11,CP068255.2,158982,162403,1,WestEurasia,deletion
24,LP6005442-DNA_A11,CP068255.2,169811,172183,1,WestEurasia,deletion
25,LP6005442-DNA_A11,CP068255.2,176466,178147,1,WestEurasia,deletion
...,...,...,...,...,...,...,...
35659700,LP6005441-DNA_B09,CP086569.2,62447554,62448825,25,EastAsia,duplication
35659701,LP6005441-DNA_B09,CP086569.2,62448825,62449825,27,EastAsia,duplication
35659702,LP6005441-DNA_B09,CP086569.2,62449825,62450825,29,EastAsia,duplication
35659703,LP6005441-DNA_B09,CP086569.2,62450825,62451825,27,EastAsia,duplication
35659704,LP6005441-DNA_B09,CP086569.2,62451825,62460029,29,EastAsia,duplication

In [8]:
### Getting gene anotation to filtering 
header_list = ['Chromosome','Start', 'End', 'Name', 'Score', 'Strand', 'End-2', 'End-3', 'TYPE_CODE','BLOCKS', 'Lenght', 'NORELATIVE'] 
gene_anotation = pd.read_table('../data/gene_anotation_chm13', names = header_list)
#gene_anotation = gene_anotation[gene_anotation['TYPE']=='76,85,212'] # only selecting protein-coding genes

feature_table = pd.read_table('../data/GCF_009914755.1_T2T-CHM13v2.0_feature_table.txt')#, index_col='chr

report = pd.read_table('../data/GCF_009914755.1_T2T-CHM13v2.0_assembly_report.txt')

chm13_gene_anotation = feature_table.merge(report, left_on='genomic_accession', right_on='RefSeq-Accn')
chm13_gene_anotation = chm13_gene_anotation[chm13_gene_anotation['class'] == 'protein_coding']
chm13_gene_anotation

/var/folders/05/4pfxtbrs5459ytz3j1jhcgt00000gn/T/ipykernel_28619/1985960472.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  feature_table = pd.read_table('../data/GCF_009914755.1_T2T-CHM13v2.0_feature_table.txt')#, index_col='chr

,# feature,class,assembly,assembly_unit,seq_type,chromosome,genomic_accession,start,end,strand,...,Sequence-Name,Sequence-Role,Assigned-Molecule,Assigned-Molecule-Location/Type,GenBank-Accn,Relationship,RefSeq-Accn,Assembly-Unit,Sequence-Length,UCSC-style-name
0,gene,protein_coding,GCF_009914755.1,Primary Assembly,chromosome,1,NC_060925.1,11134,37628,-,...,1,assembled-molecule,1,Chromosome,CP068277.2,=,NC_060925.1,Primary Assembly,248387328,na
7,gene,protein_coding,GCF_009914755.1,Primary Assembly,chromosome,1,NC_060925.1,111940,112877,-,...,1,assembled-molecule,1,Chromosome,CP068277.2,=,NC_060925.1,Primary Assembly,248387328,na
42,gene,protein_coding,GCF_009914755.1,Primary Assembly,chromosome,1,NC_060925.1,353566,373316,+,...,1,assembled-molecule,1,Chromosome,CP068277.2,=,NC_060925.1,Primary Assembly,248387328,na
49,gene,protein_coding,GCF_009914755.1,Primary Assembly,chromosome,1,NC_060925.1,372945,388041,-,...,1,assembled-molecule,1,Chromosome,CP068277.2,=,NC_060925.1,Primary Assembly,248387328,na
52,gene,protein_coding,GCF_009914755.1,Primary Assembly,chromosome,1,NC_060925.1,389374,394430,+,...,1,assembled-molecule,1,Chromosome,CP068277.2,=,NC_060925.1,Primary Assembly,248387328,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232256,gene,protein_coding,GCF_009914755.1,Primary Assembly,chromosome,Y,NC_060948.1,36480752,36497801,+,...,Y,assembled-molecule,Y,Chromosome,CP086569.2,=,NC_060948.1,Primary Assembly,62460029,na
236280,gene,protein_coding,GCF_009914755.1,Primary Assembly,chromosome,Y,NC_060948.1,62190003,62204700,+,...,Y,assembled-molecule,Y,Chromosome,CP086569.2,=,NC_060948.1,Primary Assembly,62460029,na
236288,gene,protein_coding,GCF_009914755.1,Primary Assembly,chromosome,Y,NC_060948.1,62306325,62368760,+,...,Y,assembled-molecule,Y,Chromosome,CP086569.2,=,NC_060948.1,Primary Assembly,62460029,na
236300,gene,protein_coding,GCF_009914755.1,Primary Assembly,chromosome,Y,NC_060948.1,62422687,62435805,+,...,Y,assembled-molecule,Y,Chromosome,CP086569.2,=,NC_060948.1,Primary Assembly,62460029,na
236307,gene,protein_coding,GCF_009914755.1,Primary Assembly,chromosome,Y,NC_060948.1,62446549,62449392,+,...,Y,assembled-molecule,Y,Chromosome,CP086569.2,=,NC_060948.1,Primary Assembly,62460029,na

In [9]:
gene_coordinates = pd.DataFrame()
gene_coordinates['Chromosome'] = chm13_gene_anotation['chromosome'] 
gene_coordinates['Start'] = chm13_gene_anotation['start']
gene_coordinates['End'] = chm13_gene_anotation['end']

In [10]:
#chm13 = pd.read_csv('../data/chm13_gene_regions.csv', index_col=0)
chm13['Lenght'] = chm13['End'] - chm13['Start']
chm13

chm13 = chm13[chm13['Lenght'] < 2000000]
chm13

,Sample,Chromosome,Start,End,Score,Region,Type,Lenght
17,LP6005442-DNA_A11,CP068255.2,79662,98643,1,WestEurasia,deletion,18981
18,LP6005442-DNA_A11,CP068255.2,105118,116978,1,WestEurasia,deletion,11860
20,LP6005442-DNA_A11,CP068255.2,158982,162403,1,WestEurasia,deletion,3421
24,LP6005442-DNA_A11,CP068255.2,169811,172183,1,WestEurasia,deletion,2372
25,LP6005442-DNA_A11,CP068255.2,176466,178147,1,WestEurasia,deletion,1681
...,...,...,...,...,...,...,...,...
35659700,LP6005441-DNA_B09,CP086569.2,62447554,62448825,25,EastAsia,duplication,1271
35659701,LP6005441-DNA_B09,CP086569.2,62448825,62449825,27,EastAsia,duplication,1000
35659702,LP6005441-DNA_B09,CP086569.2,62449825,62450825,29,EastAsia,duplication,1000
35659703,LP6005441-DNA_B09,CP086569.2,62450825,62451825,27,EastAsia,duplication,1000
35659704,LP6005441-DNA_B09,CP086569.2,62451825,62460029,29,EastAsia,duplication,8204

In [11]:
## Replacing chromosome names 
dict_chr = dict(zip(report['GenBank-Accn'], report['Assigned-Molecule']))
dict_chr#[final_cnv['Chromosome']== 'CP068254.1']

{'CP068277.2': '1',
 'CP068276.2': '2',
 'CP068275.2': '3',
 'CP068274.2': '4',
 'CP068273.2': '5',
 'CP068272.2': '6',
 'CP068271.2': '7',
 'CP068270.2': '8',
 'CP068269.2': '9',
 'CP068268.2': '10',
 'CP068267.2': '11',
 'CP068266.2': '12',
 'CP068265.2': '13',
 'CP068264.2': '14',
 'CP068263.2': '15',
 'CP068262.2': '16',
 'CP068261.2': '17',
 'CP068260.2': '18',
 'CP068259.2': '19',
 'CP068258.2': '20',
 'CP068257.2': '21',
 'CP068256.2': '22',
 'CP068255.2': 'X',
 'CP086569.2': 'Y',
 'CP068254.1': 'MT'}

In [12]:
#subsetting deletions and duplications
#deletions = chm13[chm13['Type'] =='deletion']
#duplications = chm13[chm13['Type'] == 'duplication']
#deletions

In [13]:
#change to df when using telomeres and centromeres filtration
final_cnv = chm13.pivot_table(index=["Chromosome", "Start", "End"], 
                    columns='Sample', 
                    values='Score',
                        fill_value=2).reset_index()


final_cnv

Sample,Chromosome,Start,End,LP6005441-DNA_A01,LP6005441-DNA_A03,LP6005441-DNA_A04,LP6005441-DNA_A05,LP6005441-DNA_A06,LP6005441-DNA_A08,LP6005441-DNA_A09,...,LP6005677-DNA_D03,LP6005677-DNA_E01,LP6005677-DNA_F01,LP6005677-DNA_G01,LP6007068-DNA_A01,LP6007069-DNA_A01,SS6004471,SS6004477,SS6004478,SS6004480
0,CP068254.1,0,1000,755.0,729.0,817.0,921.0,947.0,792.0,695.0,...,91.0,728.0,847.0,217.0,171.0,217.0,725.0,731.0,1022.0,227.0
1,CP068254.1,1000,2228,778.0,741.0,836.0,946.0,989.0,814.0,717.0,...,93.0,759.0,879.0,226.0,179.0,223.0,773.0,754.0,1135.0,243.0
2,CP068254.1,2228,3378,703.0,704.0,780.0,885.0,936.0,765.0,670.0,...,82.0,696.0,829.0,205.0,155.0,197.0,708.0,684.0,1024.0,221.0
3,CP068254.1,3378,4522,724.0,706.0,799.0,898.0,945.0,784.0,687.0,...,85.0,735.0,845.0,214.0,168.0,211.0,735.0,709.0,1085.0,228.0
4,CP068254.1,4522,5522,795.0,762.0,868.0,972.0,1025.0,838.0,742.0,...,90.0,766.0,901.0,219.0,177.0,225.0,791.0,766.0,1182.0,241.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012811,CP086569.2,62447554,62448825,18.0,24.0,22.0,22.0,19.0,23.0,25.0,...,25.0,17.0,21.0,24.0,24.0,23.0,19.0,21.0,22.0,23.0
1012812,CP086569.2,62448825,62449825,19.0,25.0,22.0,24.0,21.0,25.0,27.0,...,25.0,19.0,22.0,25.0,24.0,23.0,19.0,22.0,22.0,24.0
1012813,CP086569.2,62449825,62450825,21.0,27.0,24.0,26.0,21.0,25.0,29.0,...,27.0,20.0,24.0,26.0,27.0,27.0,23.0,26.0,26.0,26.0
1012814,CP086569.2,62450825,62451825,20.0,26.0,23.0,25.0,21.0,24.0,27.0,...,26.0,19.0,22.0,25.0,28.0,28.0,22.0,27.0,26.0,28.0
1012815,CP086569.2,62451825,62460029,20.0,27.0,24.0,24.0,23.0,27.0,30.0,...,28.0,21.0,24.0,28.0,28.0,26.0,23.0,27.0,25.0,29.0

In [14]:
final_cnv['Chromosome'] =  final_cnv['Chromosome'].replace(dict_chr)
#final_cnv = final_cnv[~final_cnv['Chromosome'].isin(['MT', 'X', 'Y'])]



final_cnv

Sample,Chromosome,Start,End,LP6005441-DNA_A01,LP6005441-DNA_A03,LP6005441-DNA_A04,LP6005441-DNA_A05,LP6005441-DNA_A06,LP6005441-DNA_A08,LP6005441-DNA_A09,...,LP6005677-DNA_D03,LP6005677-DNA_E01,LP6005677-DNA_F01,LP6005677-DNA_G01,LP6007068-DNA_A01,LP6007069-DNA_A01,SS6004471,SS6004477,SS6004478,SS6004480
0,MT,0,1000,755.0,729.0,817.0,921.0,947.0,792.0,695.0,...,91.0,728.0,847.0,217.0,171.0,217.0,725.0,731.0,1022.0,227.0
1,MT,1000,2228,778.0,741.0,836.0,946.0,989.0,814.0,717.0,...,93.0,759.0,879.0,226.0,179.0,223.0,773.0,754.0,1135.0,243.0
2,MT,2228,3378,703.0,704.0,780.0,885.0,936.0,765.0,670.0,...,82.0,696.0,829.0,205.0,155.0,197.0,708.0,684.0,1024.0,221.0
3,MT,3378,4522,724.0,706.0,799.0,898.0,945.0,784.0,687.0,...,85.0,735.0,845.0,214.0,168.0,211.0,735.0,709.0,1085.0,228.0
4,MT,4522,5522,795.0,762.0,868.0,972.0,1025.0,838.0,742.0,...,90.0,766.0,901.0,219.0,177.0,225.0,791.0,766.0,1182.0,241.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012811,Y,62447554,62448825,18.0,24.0,22.0,22.0,19.0,23.0,25.0,...,25.0,17.0,21.0,24.0,24.0,23.0,19.0,21.0,22.0,23.0
1012812,Y,62448825,62449825,19.0,25.0,22.0,24.0,21.0,25.0,27.0,...,25.0,19.0,22.0,25.0,24.0,23.0,19.0,22.0,22.0,24.0
1012813,Y,62449825,62450825,21.0,27.0,24.0,26.0,21.0,25.0,29.0,...,27.0,20.0,24.0,26.0,27.0,27.0,23.0,26.0,26.0,26.0
1012814,Y,62450825,62451825,20.0,26.0,23.0,25.0,21.0,24.0,27.0,...,26.0,19.0,22.0,25.0,28.0,28.0,22.0,27.0,26.0,28.0
1012815,Y,62451825,62460029,20.0,27.0,24.0,24.0,23.0,27.0,30.0,...,28.0,21.0,24.0,28.0,28.0,26.0,23.0,27.0,25.0,29.0

In [15]:
final_cnv

Sample,Chromosome,Start,End,LP6005441-DNA_A01,LP6005441-DNA_A03,LP6005441-DNA_A04,LP6005441-DNA_A05,LP6005441-DNA_A06,LP6005441-DNA_A08,LP6005441-DNA_A09,...,LP6005677-DNA_D03,LP6005677-DNA_E01,LP6005677-DNA_F01,LP6005677-DNA_G01,LP6007068-DNA_A01,LP6007069-DNA_A01,SS6004471,SS6004477,SS6004478,SS6004480
0,MT,0,1000,755.0,729.0,817.0,921.0,947.0,792.0,695.0,...,91.0,728.0,847.0,217.0,171.0,217.0,725.0,731.0,1022.0,227.0
1,MT,1000,2228,778.0,741.0,836.0,946.0,989.0,814.0,717.0,...,93.0,759.0,879.0,226.0,179.0,223.0,773.0,754.0,1135.0,243.0
2,MT,2228,3378,703.0,704.0,780.0,885.0,936.0,765.0,670.0,...,82.0,696.0,829.0,205.0,155.0,197.0,708.0,684.0,1024.0,221.0
3,MT,3378,4522,724.0,706.0,799.0,898.0,945.0,784.0,687.0,...,85.0,735.0,845.0,214.0,168.0,211.0,735.0,709.0,1085.0,228.0
4,MT,4522,5522,795.0,762.0,868.0,972.0,1025.0,838.0,742.0,...,90.0,766.0,901.0,219.0,177.0,225.0,791.0,766.0,1182.0,241.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012811,Y,62447554,62448825,18.0,24.0,22.0,22.0,19.0,23.0,25.0,...,25.0,17.0,21.0,24.0,24.0,23.0,19.0,21.0,22.0,23.0
1012812,Y,62448825,62449825,19.0,25.0,22.0,24.0,21.0,25.0,27.0,...,25.0,19.0,22.0,25.0,24.0,23.0,19.0,22.0,22.0,24.0
1012813,Y,62449825,62450825,21.0,27.0,24.0,26.0,21.0,25.0,29.0,...,27.0,20.0,24.0,26.0,27.0,27.0,23.0,26.0,26.0,26.0
1012814,Y,62450825,62451825,20.0,26.0,23.0,25.0,21.0,24.0,27.0,...,26.0,19.0,22.0,25.0,28.0,28.0,22.0,27.0,26.0,28.0
1012815,Y,62451825,62460029,20.0,27.0,24.0,24.0,23.0,27.0,30.0,...,28.0,21.0,24.0,28.0,28.0,26.0,23.0,27.0,25.0,29.0

In [16]:
## input for CNVRanger 
#cnvrangerchm13 = chm13[['Sample','Chromosome', 'Start', 'End','Score']]
#cnvrangerchm13['Chromosome'] =  cnvrangerchm13['Chromosome'].replace(dict_chr)
#cnvrangerchm13.columns=['Sample_ID','Chr', 'Start', 'End','CNV_Value']

#cnvrangerchm13['CNV_Value'] = cnvrangerchm13['CNV_Value'].astype(int)
#cnvrangerchm13.to_csv('../data/chm13_cnvranger_input.csv',  index=False)

<h1> Removing cnvs from exclusion regions

In [17]:
black_header = ['Chromosome','Start', 'End', 'Type', 'Extra1', 'Extra2']
blacklist = pd.read_table('/Users/luciabazan/Downloads/T2T.excluderanges.bed', names=black_header)
blacklist['Chromosome'] = blacklist['Chromosome'].str.replace('chr', '')
blacklist = blacklist.drop(columns=['Extra1', 'Extra2'])
blacklist_ranges = PyRanges(blacklist)

/opt/anaconda3/lib/python3.11/site-packages/pyranges/methods/init.py:45: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return {k: v for k, v in df.groupby(grpby_key)}

In [18]:
final_cnv_ranges = PyRanges(final_cnv)
final_cnv = final_cnv_ranges.overlap(blacklist_ranges, invert=True)
final_cnv = final_cnv.as_df()
#final_cnv.to_csv('../data/T2TCHM13_cnvs.csv.zip', compression="zip")
final_cnv

/opt/anaconda3/lib/python3.11/site-packages/pyranges/methods/init.py:45: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return {k: v for k, v in df.groupby(grpby_key)}

Sample,Chromosome,Start,End,LP6005441-DNA_A01,LP6005441-DNA_A03,LP6005441-DNA_A04,LP6005441-DNA_A05,LP6005441-DNA_A06,LP6005441-DNA_A08,LP6005441-DNA_A09,...,LP6005677-DNA_D03,LP6005677-DNA_E01,LP6005677-DNA_F01,LP6005677-DNA_G01,LP6007068-DNA_A01,LP6007069-DNA_A01,SS6004471,SS6004477,SS6004478,SS6004480
0,1,260453,261566,4.0,4.0,3.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,3.0,2.0,3.0,4.0
1,1,261566,263205,4.0,4.0,3.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,3.0,4.0,4.0,3.0,3.0,4.0
2,1,263205,264505,3.0,4.0,3.0,4.0,4.0,4.0,4.0,...,4.0,4.0,3.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0
3,1,264505,269912,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
4,1,269912,271404,3.0,4.0,4.0,4.0,3.0,3.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973913,Y,62447554,62448825,18.0,24.0,22.0,22.0,19.0,23.0,25.0,...,25.0,17.0,21.0,24.0,24.0,23.0,19.0,21.0,22.0,23.0
973914,Y,62448825,62449825,19.0,25.0,22.0,24.0,21.0,25.0,27.0,...,25.0,19.0,22.0,25.0,24.0,23.0,19.0,22.0,22.0,24.0
973915,Y,62449825,62450825,21.0,27.0,24.0,26.0,21.0,25.0,29.0,...,27.0,20.0,24.0,26.0,27.0,27.0,23.0,26.0,26.0,26.0
973916,Y,62450825,62451825,20.0,26.0,23.0,25.0,21.0,24.0,27.0,...,26.0,19.0,22.0,25.0,28.0,28.0,22.0,27.0,26.0,28.0
973917,Y,62451825,62460029,20.0,27.0,24.0,24.0,23.0,27.0,30.0,...,28.0,21.0,24.0,28.0,28.0,26.0,23.0,27.0,25.0,29.0

In [19]:
final_cnv = final_cnv[~final_cnv['Chromosome'].isin(['MT', 'X', 'Y'])]
final_cnv

Sample,Chromosome,Start,End,LP6005441-DNA_A01,LP6005441-DNA_A03,LP6005441-DNA_A04,LP6005441-DNA_A05,LP6005441-DNA_A06,LP6005441-DNA_A08,LP6005441-DNA_A09,...,LP6005677-DNA_D03,LP6005677-DNA_E01,LP6005677-DNA_F01,LP6005677-DNA_G01,LP6007068-DNA_A01,LP6007069-DNA_A01,SS6004471,SS6004477,SS6004478,SS6004480
0,1,260453,261566,4.0,4.0,3.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,3.0,2.0,3.0,4.0
1,1,261566,263205,4.0,4.0,3.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,3.0,4.0,4.0,3.0,3.0,4.0
2,1,263205,264505,3.0,4.0,3.0,4.0,4.0,4.0,4.0,...,4.0,4.0,3.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0
3,1,264505,269912,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
4,1,269912,271404,3.0,4.0,4.0,4.0,3.0,3.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
920286,22,51288688,51289688,4.0,4.0,4.0,4.0,4.0,4.0,5.0,...,4.0,4.0,4.0,4.0,4.0,5.0,4.0,5.0,4.0,5.0
920287,22,51289688,51291273,4.0,4.0,4.0,4.0,4.0,4.0,5.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
920288,22,51291273,51292827,4.0,4.0,4.0,4.0,4.0,4.0,5.0,...,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,4.0,5.0
920289,22,51292827,51295018,4.0,4.0,4.0,4.0,4.0,4.0,5.0,...,4.0,4.0,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
920290,22,51295018,51296018,4.0,4.0,4.0,4.0,4.0,4.0,5.0,...,4.0,4.0,4.0,4.0,4.0,5.0,5.0,5.0,4.0,5.0

In [ ]:
final_cnv.to_csv('t2tchm13_cnvs.csv')

In [ ]:
d = final_cnv#.fillna(2)
#d.to_csv('../data/t2tchm13_all_pivot.bed', sep='\t', header=False, index=False )
d

In [ ]:
d.iloc[81275,4:280].hist(bins=100)
d['Chromosome'] = 'chr' + d['Chromosome'].astype(str)
d

In [25]:
## Saving CNVs coordinates as bed file to liftover
d.iloc[:,0:4].to_csv('cnvs_coordinates_chm13t2t.bed', header=False, index=False,sep='\t')

In [26]:
columns = d.columns
np.savetxt("../data/t2tchm13_all_pivot_names.bed", columns,
           delimiter ="/t", 
           fmt ='% s')