In [1]:
import pandas as pd
import numpy as np
from pyranges import PyRanges

<h1> T2T CHM13

In [2]:
## Anotations
t2t_genes = pd.read_csv('../data/annotation_files/T2T-chm13-catLiftOffGenes.csv')
t2t_telomeres = pd.read_csv('../data/annotation_files/chm13v2.0_telomere.bed', sep='\t', names=['Chromosome','Start', 'End'])
t2t_sds = pd.read_csv('../data/annotation_files/chm13v2.0_SD.full.bed', sep='\t')
t2t_sds = t2t_sds[['#chr1', 'start1', 'end1']]
## Read and merge files 
anotation = pd.read_csv('../data/SGDP_anotation.csv', sep=',', encoding='latin-1')

ids_hg19 = pd.DataFrame()
ids_hg19['Sample'] = anotation['3-Illumina_ID']
ids_hg19['Region'] = anotation['10-Region']
t2t_sds.columns =['Chromosome','Start','End']

/var/folders/05/4pfxtbrs5459ytz3j1jhcgt00000gn/T/ipykernel_55371/1838600794.py:2: DtypeWarning: Columns (23,36) have mixed types. Specify dtype option on import or set low_memory=False.
  t2t_genes = pd.read_csv('../data/annotation_files/T2T-chm13-catLiftOffGenes.csv')

In [3]:
# is not working 
chm13 = pd.read_csv('../data/call_cnvr_chm13/t2t-chm13_cnvs.txt', sep='\t')
#chm13 = pd.read_csv('/Users/luciabazan/Downloads/AMR_Mayan_LP6005441-DNA_G07', sep='\t', header= None)
#chm13.columns = ['Chromosome', 'Start', 'End','CNV_Value','ext1','ext2','ext3','ext4','ext5']
#chm13[[chm13['CNV_Value'] != '2']]

/var/folders/05/4pfxtbrs5459ytz3j1jhcgt00000gn/T/ipykernel_55371/3804510778.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  chm13 = pd.read_csv('../data/call_cnvr_chm13/t2t-chm13_cnvs.txt', sep='\t')

In [4]:
chm13 = chm13.dropna()
chm13['Length_cnvr'] = chm13['End'] - chm13['Start']


chm13 = chm13[chm13['Sample_ID'] == 'LP6005441-DNA_G07']
#chm13['Sample_ID'] = 'LP6005441-DNA_G07'
#chm13 = chm13[~chm13['CNV_Value'].isin([2])]

In [5]:
## Keeping only samples that are on old cnvs 
chm13 = chm13.merge(ids_hg19, right_on=['Sample'], left_on=['Sample_ID'])
#chm13.drop(columns=['ext1','ext2','ext3','ext4','ext5'], inplace=True)
chm13

,Chr,Start,End,CNVR_ID,Sample_ID,CNV_Start,CNV_End,CNV_Value,Length,Length_cnvr,Sample,Region
0,22,0.0,12764469.0,CNVR_109274,LP6005441-DNA_G07,8285141,8289096,1,3956,12764469.0,LP6005441-DNA_G07,America
1,22,0.0,12764469.0,CNVR_109274,LP6005441-DNA_G07,8292271,8294316,1,2046,12764469.0,LP6005441-DNA_G07,America
2,22,0.0,12764469.0,CNVR_109274,LP6005441-DNA_G07,8294316,8297751,1,3436,12764469.0,LP6005441-DNA_G07,America
3,22,0.0,12764469.0,CNVR_109274,LP6005441-DNA_G07,8297751,8303368,1,5618,12764469.0,LP6005441-DNA_G07,America
4,22,0.0,12764469.0,CNVR_109274,LP6005441-DNA_G07,8304488,8306331,1,1844,12764469.0,LP6005441-DNA_G07,America
...,...,...,...,...,...,...,...,...,...,...,...,...
92805,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_G07,248364795,248366351,26,1557,82796.0,LP6005441-DNA_G07,America
92806,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_G07,248366351,248367622,27,1272,82796.0,LP6005441-DNA_G07,America
92807,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_G07,248367622,248368745,27,1124,82796.0,LP6005441-DNA_G07,America
92808,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_G07,248368745,248370339,42,1595,82796.0,LP6005441-DNA_G07,America
92809,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_G07,248370339,248387328,37,16990,82796.0,LP6005441-DNA_G07,America

In [6]:
chm13['Length_cnvr'].describe()

count    9.281000e+04
mean     5.466143e+06
std      1.126691e+07
min      1.000000e+03
25%      9.444700e+04
50%      5.516410e+05
75%      3.502745e+06
max      4.509068e+07
Name: Length_cnvr, dtype: float64

In [7]:
chm13#.value_counts(by=["Sample_ID"])
chm13.columns = ['Chromosome', 'Start', 'End', 'CNVR_ID	','Sample_ID', 'CNV_start', 'CNV_end','CNV_Value', 'Length', 'Length_cnvr','Sample','Region']

chm13= chm13[chm13['Chromosome'] != 'M']
chm13 = chm13[chm13['Chromosome'] != 'X']
chm13 = chm13[chm13['Chromosome'] != 'Y']

In [8]:
chm13['Chromosome'] = chm13['Chromosome'].str.replace('chr', '')

In [13]:
#change to df when using telomeres and centromeres filtration
final_cnv = chm13.pivot_table(index=["Chromosome", "Start", "End", 'Length_cnvr'], 
                    columns='Sample', 
                    values='CNV_Value',
                        fill_value=2).reset_index()

final_cnv

Sample Chromosome        Start          End  Length_cnvr  LP6005441-DNA_G07
0               1          0.0     403567.0     403567.0          17.124031
1               1     436980.0     452948.0      15968.0           6.000000
2               1     453948.0     466894.0      12946.0           1.000000
3               1     518975.0     605035.0      86060.0           3.000000
4               1     650556.0     662579.0      12023.0           1.000000
...           ...          ...          ...          ...                ...
7675            9  148771046.0  149276995.0     505949.0           1.000000
7676            9  149278663.0  149484014.0     205351.0           1.000000
7677            9  149620306.0  149794372.0     174066.0           1.000000
7678            9  149803678.0  149871435.0      67757.0           1.000000
7679            9  150171200.0  150617247.0     446047.0           1.000000

[7680 rows x 5 columns]

In [10]:
final_cnv = chm13.pivot_table(index=["Chromosome", 'CNV_start', 'CNV_end', 'Length'], 
                    columns='Sample', 
                    values='CNV_Value',
                        fill_value=2).reset_index()

final_cnv

Sample Chromosome  CNV_start    CNV_end  Length  LP6005441-DNA_G07
0               1          0       9083    9084               44.0
1               1       9083      10803    1721               34.0
2               1      10803      14487    3685               20.0
3               1      14487      18731    4245               14.0
4               1      18731      20013    1283               14.0
...           ...        ...        ...     ...                ...
27269           9  149267269  149269905    2637                1.0
27270           9  149470985  149472450    1466                1.0
27271           9  149662164  149666176    4013                1.0
27272           9  149856286  149857564    1279                1.0
27273           9  150225245  150233612    8368                1.0

[27274 rows x 5 columns]

In [14]:
t2t_deletions_gb = final_cnv[final_cnv['LP6005441-DNA_G07'] < 3]
t2t_deletions_gb_mean = t2t_deletions_gb['LP6005441-DNA_G07'].mean()
t2t_duplications_gb = final_cnv[final_cnv['LP6005441-DNA_G07'] > 1]
t2t_duplications_gb_mean = t2t_duplications_gb['LP6005441-DNA_G07'].mean()
t2t_duplications_gb = PyRanges(t2t_duplications_gb)
t2t_deletions_gb = PyRanges(t2t_deletions_gb)

In [15]:
final_cnv_ranges = PyRanges(final_cnv)
final_cnv_ranges

+--------------+-----------+-----------+---------------+---------------------+
| Chromosome   | Start     | End       | Length_cnvr   | LP6005441-DNA_G07   |
| (category)   | (int64)   | (int64)   | (float64)     | (float64)           |
|--------------+-----------+-----------+---------------+---------------------|
| 1            | 0         | 403567    | 403567.0      | 17.124031007751938  |
| 1            | 436980    | 452948    | 15968.0       | 6.0                 |
| 1            | 453948    | 466894    | 12946.0       | 1.0                 |
| 1            | 518975    | 605035    | 86060.0       | 3.0                 |
| ...          | ...       | ...       | ...           | ...                 |
| 20           | 29521296  | 66210255  | 36688959.0    | 1.0                 |
| 20           | 0         | 26278097  | 26278097.0    | 1.0                 |
| 21           | 0         | 45090682  | 45090682.0    | 1.0                 |
| 22           | 15787747  | 51324926  | 35537179.0    | 9.741935483870968   |
| 22           | 0         | 12764469  | 12764469.0    | 137.94882961350027  |
+--------------+-----------+-----------+---------------+---------------------+
Unstranded PyRanges object has 7,680 rows and 5 columns from 22 chromosomes.
For printing, the PyRanges was sorted on Chromosome.

In [16]:
t2t_genes.columns = ['Chromosome', 'Start', 'End', 'name', 'score', 'strand',
       'thickStart', 'thickEnd', 'reserved', 'blockCount', 'blockSizes',
       'chromStarts', 'name2', 'cdsStartStat', 'cdsEndStat', 'exonFrames',
       'txId', 'type', 'geneName', 'geneType', 'sourceGene',
       'sourceTranscript', 'alignmentId', 'alternativeSourceTranscripts',
       'Paralogy', 'UnfilteredParalogy', 'collapsedGeneIds',
       'collapsedGeneNames', 'frameshift', 'exonAnnotationSupport',
       'intronAnnotationSupport', 'transcriptClass', 'transcriptModes',
       'validStart', 'validStop', 'properOrf', 'extra_paralog']

In [17]:
t2t_genes['Chromosome'] = t2t_genes['Chromosome'].str.replace('chr', '')
t2t_genes = PyRanges(t2t_genes)

t2t_telomeres['Chromosome'] = t2t_telomeres['Chromosome'].str.replace('chr', '')
t2t_telomeres = PyRanges(t2t_telomeres)

t2t_sds['Chromosome'] = t2t_sds['Chromosome'].str.replace('chr', '')
t2t_sds = PyRanges(t2t_sds)

<h2> Genes

In [18]:
#### t2t genes 
coordinates_genes = final_cnv_ranges.nearest(t2t_genes)
coordinates_genes = coordinates_genes.as_df()
coordinates_genes = coordinates_genes[coordinates_genes['Distance'] <1 ]

## T2T telomeres
coordinates_telomeres = final_cnv_ranges.nearest(t2t_telomeres)
coordinates_telomeres = coordinates_telomeres.as_df()
coordinates_telomeres = coordinates_telomeres[coordinates_telomeres['Distance'] <1 ]

#SDs 
coordinates_sds = final_cnv_ranges.nearest(t2t_sds)
coordinates_sds = coordinates_sds.as_df()
coordinates_sds = coordinates_sds[coordinates_sds['Distance'] <1 ]

In [19]:
coordinates_genes

,Chromosome,Start,End,Length_cnvr,LP6005441-DNA_G07,Start_b,End_b,name,score,strand,...,frameshift,exonAnnotationSupport,intronAnnotationSupport,transcriptClass,transcriptModes,validStart,validStop,properOrf,extra_paralog,Distance
0,1,0,403567,403567.0,17.124031,11135,12457,AL627309.3-1,0,-,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0
1,1,436980,452948,15968.0,6.000000,431292,444671,ISG15-202,0,+,...,NaN,"1,1,1","1,1",ortholog,transMap,True,True,True,False,0
2,1,453948,466894,12946.0,1.000000,450246,486181,AGRN-201,0,+,...,False,"1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...","2,1,2,2,1,0,1,1,1,1,1,1,1,2,2,2,1,1,1,2,2,1,1,...",ortholog,transMap,True,True,True,False,0
3,1,518975,605035,86060.0,3.000000,510430,544696,C1orf159-204,0,-,...,NaN,"1,1,1,1,1,1,1,1,1,1,1,1","2,2,2,2,2,2,1,1,1,1,1",ortholog,transMap,True,True,True,False,0
4,1,650556,662579,12023.0,1.000000,645364,660458,SDF4-202,0,-,...,NaN,"1,1,1,1,1,1,1","2,2,1,1,1,1",ortholog,transMap,True,True,True,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7675,20,0,26278097,26278097.0,1.000000,5700,7747,AL078621.3-1,0,-,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0
7676,20,29521296,66210255,36688959.0,1.000000,29561837,29599815,FRG1CP-204,0,+,...,NaN,"1,1,1,1,1,1","1,1,1,1,1",ortholog,transMap,True,True,True,False,0
7677,21,0,45090682,45090682.0,1.000000,45408,46269,BNIP3P41-1,0,-,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0
7678,22,0,12764469,12764469.0,137.948830,47083,47944,BNIP3P41-1,0,-,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0
7679,22,15787747,51324926,35537179.0,9.741935,15801274,15818302,AP001464.1-1,0,-,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0

In [20]:
coordinates_genes

,Chromosome,Start,End,Length_cnvr,LP6005441-DNA_G07,Start_b,End_b,name,score,strand,...,frameshift,exonAnnotationSupport,intronAnnotationSupport,transcriptClass,transcriptModes,validStart,validStop,properOrf,extra_paralog,Distance
0,1,0,403567,403567.0,17.124031,11135,12457,AL627309.3-1,0,-,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0
1,1,436980,452948,15968.0,6.000000,431292,444671,ISG15-202,0,+,...,NaN,"1,1,1","1,1",ortholog,transMap,True,True,True,False,0
2,1,453948,466894,12946.0,1.000000,450246,486181,AGRN-201,0,+,...,False,"1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...","2,1,2,2,1,0,1,1,1,1,1,1,1,2,2,2,1,1,1,2,2,1,1,...",ortholog,transMap,True,True,True,False,0
3,1,518975,605035,86060.0,3.000000,510430,544696,C1orf159-204,0,-,...,NaN,"1,1,1,1,1,1,1,1,1,1,1,1","2,2,2,2,2,2,1,1,1,1,1",ortholog,transMap,True,True,True,False,0
4,1,650556,662579,12023.0,1.000000,645364,660458,SDF4-202,0,-,...,NaN,"1,1,1,1,1,1,1","2,2,1,1,1,1",ortholog,transMap,True,True,True,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7675,20,0,26278097,26278097.0,1.000000,5700,7747,AL078621.3-1,0,-,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0
7676,20,29521296,66210255,36688959.0,1.000000,29561837,29599815,FRG1CP-204,0,+,...,NaN,"1,1,1,1,1,1","1,1,1,1,1",ortholog,transMap,True,True,True,False,0
7677,21,0,45090682,45090682.0,1.000000,45408,46269,BNIP3P41-1,0,-,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0
7678,22,0,12764469,12764469.0,137.948830,47083,47944,BNIP3P41-1,0,-,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0
7679,22,15787747,51324926,35537179.0,9.741935,15801274,15818302,AP001464.1-1,0,-,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0

In [21]:
## Deletions

In [22]:
#### Genes 
deletions_t2t_coordinates_genes = t2t_deletions_gb.nearest(t2t_genes)
deletions_t2t_coordinates_genes = deletions_t2t_coordinates_genes.as_df()
deletions_t2t_coordinates_genes = deletions_t2t_coordinates_genes[deletions_t2t_coordinates_genes['Distance'] <1 ]
# Mean CN 
deletions_t2t_mean_individual_genes= deletions_t2t_coordinates_genes['LP6005441-DNA_G07'].mean()



#### Telomeres
deletions_t2t_coordinates_telomeres = t2t_deletions_gb.nearest(t2t_telomeres)
deletions_t2t_coordinates_telomeres = deletions_t2t_coordinates_telomeres.as_df()
deletions_t2t_coordinates_telomeres = deletions_t2t_coordinates_telomeres[deletions_t2t_coordinates_telomeres['Distance'] <1 ]
deletions_t2t_coordinates_telomeres
# Mean CN 
deletions_t2t_mean_individual_telomeres= deletions_t2t_coordinates_telomeres['LP6005441-DNA_G07'].mean()



#### SDs 
deletions_t2t_coordinates_sds = t2t_deletions_gb.nearest(t2t_sds)
deletions_t2t_coordinates_sds = deletions_t2t_coordinates_sds.as_df()
deletions_t2t_coordinates_sds = deletions_t2t_coordinates_sds[deletions_t2t_coordinates_sds['Distance'] <1 ]
# Mean CN 
deletions_t2t_mean_individual_sds= deletions_t2t_coordinates_sds['LP6005441-DNA_G07'].mean()

In [23]:
#Duplications

In [24]:
#### Genes 
duplications_t2t_coordinates_genes = t2t_duplications_gb.nearest(t2t_genes)
duplications_t2t_coordinates_genes = duplications_t2t_coordinates_genes.as_df()
duplications_t2t_coordinates_genes = duplications_t2t_coordinates_genes[duplications_t2t_coordinates_genes['Distance'] <1 ]
# Mean CN 
duplications_t2t_mean_individual_genes= duplications_t2t_coordinates_genes['LP6005441-DNA_G07'].mean()



#### Telomeres
duplications_t2t_coordinates_telomeres = t2t_duplications_gb.nearest(t2t_telomeres)
duplications_t2t_coordinates_telomeres = duplications_t2t_coordinates_telomeres.as_df()
duplications_t2t_coordinates_telomeres = duplications_t2t_coordinates_telomeres[duplications_t2t_coordinates_telomeres['Distance'] <1 ]
duplications_t2t_coordinates_telomeres
# Mean CN 
duplications_t2t_mean_individual_telomeres= duplications_t2t_coordinates_telomeres['LP6005441-DNA_G07'].mean()



#### SDs 
duplications_t2t_coordinates_sds = t2t_duplications_gb.nearest(t2t_sds)
duplications_t2t_coordinates_sds = duplications_t2t_coordinates_sds.as_df()
duplications_t2t_coordinates_sds = duplications_t2t_coordinates_sds[duplications_t2t_coordinates_sds['Distance'] <1 ]
# Mean CN 
duplications_t2t_mean_individual_sds= duplications_t2t_coordinates_sds['LP6005441-DNA_G07'].mean()

<h2> T2T CNVnator

In [25]:
header_list = ['Type', 'Position', 'Lenght', 'RD', 'T-TEST-EVAL', 'GAUSSIAN-EVAL', 'T-TEST-EVAL(MIDDLE)','GAUSSIAN-EVAL(MIDDLE)', 'FRAQ-READ-QUALITY', 't', 't2']

t2t_data = pd.read_csv('/Users/luciabazan/t2t_LP6005441-DNA_G07_cnvs.tsv', sep='\t' , names=header_list)
t2t_data


t2t_data = t2t_data[t2t_data['T-TEST-EVAL'] <= 0.05]
t2t_data

cnvnator_data = t2t_data

#SEPARATE COORDINATES
coordinates = cnvnator_data['Position'].str.split(':', expand=True)
CHROMOSOME = coordinates[0]

split_position = coordinates[1].str.split('-', expand=True)
START = split_position[0]
STOP = split_position[1]

cnvnator_style= pd.DataFrame()
cnvnator_style['Chromosome'] = CHROMOSOME
cnvnator_style['Start'] = START
cnvnator_style['End'] = STOP
cnvnator_style['CNV_value'] = cnvnator_data['RD']


cnvnator_style['Start'] = cnvnator_style['Start'].astype(int)
cnvnator_style['End'] = cnvnator_style['End'].astype(int)
cnvnator_style['CNV_value'] = cnvnator_style['CNV_value'].astype(float)

#cnvnator_style['Type'] = cnvnator_data['Type']

cnvnator_style['CNV_value'] = cnvnator_style['CNV_value'] * 2

cnvnator_style['Chromosome'] = cnvnator_style['Chromosome'].str.replace('chr','')

t2t_cnvnator = cnvnator_style
t2t_cnvnator['Length_cnvr'] = t2t_cnvnator['End'] - t2t_cnvnator['Start']
t2t_cnvnator = t2t_cnvnator[t2t_cnvnator['Chromosome'] != 'M']
t2t_cnvnator = t2t_cnvnator[t2t_cnvnator['Chromosome'] != 'X']
t2t_cnvnator = t2t_cnvnator[t2t_cnvnator['Chromosome'] != 'Y']
t2t_cnvnator

     Chromosome     Start       End  CNV_value  Length_cnvr
0             1     25001     45000     3.3208        19999
1             1     48001     78000     3.2608        29999
2             1     88001     96000     0.5038         7999
6             1   2133001   2162000     7.1520        28999
8             1   2193001   2223000     5.9894        29999
...         ...       ...       ...        ...          ...
3408         22  24379001  24409000     3.0316        29999
3409         22  24409001  24427000     1.0380        17999
3410         22  24430001  24463000     1.1298        32999
3412         22  39109001  39114000     0.0000         4999
3413         22  39369001  39373000     0.0014         3999

[1855 rows x 5 columns]

In [26]:
t2t_deletions_cnvnator = t2t_cnvnator[t2t_cnvnator['CNV_value'] < 2]
t2t_deletions_cnvnator_mean = t2t_deletions_cnvnator['CNV_value'].mean()
t2t_duplications_cnvnator = t2t_cnvnator[t2t_cnvnator['CNV_value'] > 2]
t2t_duplications_cnvnator_mean = t2t_duplications_cnvnator['CNV_value'].mean()
t2t_duplications_cnvnator = PyRanges(t2t_duplications_cnvnator)
t2t_deletions_cnvnator = PyRanges(t2t_deletions_cnvnator)

t2t_cnvnator= PyRanges(t2t_cnvnator)
t2t_cnvnator

+--------------+-----------+-----------+-------------+---------------+
| Chromosome   | Start     | End       | CNV_value   | Length_cnvr   |
| (category)   | (int64)   | (int64)   | (float64)   | (int64)       |
|--------------+-----------+-----------+-------------+---------------|
| 1            | 25001     | 45000     | 3.3208      | 19999         |
| 1            | 48001     | 78000     | 3.2608      | 29999         |
| 1            | 88001     | 96000     | 0.5038      | 7999          |
| 1            | 2133001   | 2162000   | 7.152       | 28999         |
| ...          | ...       | ...       | ...         | ...           |
| 22           | 24409001  | 24427000  | 1.038       | 17999         |
| 22           | 24430001  | 24463000  | 1.1298      | 32999         |
| 22           | 39109001  | 39114000  | 0.0         | 4999          |
| 22           | 39369001  | 39373000  | 0.0014      | 3999          |
+--------------+-----------+-----------+-------------+---------------+
Unstranded PyRanges object has 1,855 rows and 5 columns from 22 chromosomes.
For printing, the PyRanges was sorted on Chromosome.

In [27]:
#### t2t genes 
t2t_cnvnator_coordinates_genes = t2t_cnvnator.nearest(t2t_genes)
t2t_cnvnator_coordinates_genes = t2t_cnvnator_coordinates_genes.as_df()
t2t_cnvnator_coordinates_genes = t2t_cnvnator_coordinates_genes[t2t_cnvnator_coordinates_genes['Distance'] <1 ]

## T2T telomeres
t2t_cnvnator_coordinates_telomeres = t2t_cnvnator.nearest(t2t_telomeres)
t2t_cnvnator_coordinates_telomeres = t2t_cnvnator_coordinates_telomeres.as_df()
t2t_cnvnator_coordinates_telomeres = t2t_cnvnator_coordinates_telomeres[t2t_cnvnator_coordinates_telomeres['Distance'] <1 ]

#SDs 
t2t_cnvnator_coordinates_sds = t2t_cnvnator.nearest(t2t_sds)
t2t_cnvnator_coordinates_sds = t2t_cnvnator_coordinates_sds.as_df()
t2t_cnvnator_coordinates_sds = t2t_cnvnator_coordinates_sds[t2t_cnvnator_coordinates_sds['Distance'] <1 ]

In [28]:
#Deletions
#### Genes 
deletions_t2t_cnvnator_coordinates_genes = t2t_deletions_cnvnator.nearest(t2t_genes)
deletions_t2t_cnvnator_coordinates_genes = deletions_t2t_cnvnator_coordinates_genes.as_df()
deletions_t2t_cnvnator_coordinates_genes = deletions_t2t_cnvnator_coordinates_genes[deletions_t2t_cnvnator_coordinates_genes['Distance'] <1 ]
# Mean CN 
deletions_t2t_cnvnator_coordinates_genes.replace(2, np.nan, inplace=True)
deletions_t2t_cnvnator_mean_individual_genes= deletions_t2t_cnvnator_coordinates_genes['CNV_value'].mean()
deletions_t2t_cnvnator_coordinates_genes.replace(np.nan,2, inplace=True)


#### Telomeres
deletions_t2t_cnvnator_coordinates_telomeres = t2t_deletions_cnvnator.nearest(t2t_telomeres)
deletions_t2t_cnvnator_coordinates_telomeres = deletions_t2t_cnvnator_coordinates_telomeres.as_df()
deletions_t2t_cnvnator_coordinates_telomeres = deletions_t2t_cnvnator_coordinates_telomeres[deletions_t2t_cnvnator_coordinates_telomeres['Distance'] <1 ]
deletions_t2t_cnvnator_coordinates_telomeres
# Mean CN 
deletions_t2t_cnvnator_coordinates_telomeres.replace(2, np.nan, inplace=True)
deletions_t2t_cnvnator_mean_individual_telomeres= deletions_t2t_cnvnator_coordinates_telomeres['CNV_value'].mean()
deletions_t2t_cnvnator_coordinates_telomeres.replace(np.nan,2, inplace=True)


#### SDs 
deletions_t2t_cnvnator_coordinates_sds = t2t_deletions_cnvnator.nearest(t2t_sds)
deletions_t2t_cnvnator_coordinates_sds = deletions_t2t_cnvnator_coordinates_sds.as_df()
deletions_t2t_cnvnator_coordinates_sds = deletions_t2t_cnvnator_coordinates_sds[deletions_t2t_cnvnator_coordinates_sds['Distance'] <1 ]
# Mean CN 
deletions_t2t_cnvnator_coordinates_sds.replace(2, np.nan, inplace=True)
deletions_t2t_cnvnator_mean_individual_sds= deletions_t2t_cnvnator_coordinates_sds['CNV_value'].mean()
deletions_t2t_cnvnator_coordinates_sds.replace(np.nan,2, inplace=True)

/var/folders/05/4pfxtbrs5459ytz3j1jhcgt00000gn/T/ipykernel_55371/2452310715.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  deletions_t2t_cnvnator_coordinates_genes.replace(np.nan,2, inplace=True)

In [29]:
deletions_t2t_cnvnator_mean_individual_sds

0.981063976945245

In [30]:
#Duplications
#### Genes 
duplications_t2t_cnvnator_coordinates_genes = t2t_duplications_cnvnator.nearest(t2t_genes)
duplications_t2t_cnvnator_coordinates_genes = duplications_t2t_cnvnator_coordinates_genes.as_df()
duplications_t2t_cnvnator_coordinates_genes = duplications_t2t_cnvnator_coordinates_genes[duplications_t2t_cnvnator_coordinates_genes['Distance'] <1 ]
# Mean CN 
duplications_t2t_cnvnator_coordinates_genes.replace(2, np.nan, inplace=True)
duplications_t2t_cnvnator_mean_individual_genes= duplications_t2t_cnvnator_coordinates_genes['CNV_value'].mean()
duplications_t2t_cnvnator_coordinates_genes.replace(np.nan,2, inplace=True)


#### Telomeres
duplications_t2t_cnvnator_coordinates_telomeres = t2t_duplications_cnvnator.nearest(t2t_telomeres)
duplications_t2t_cnvnator_coordinates_telomeres = duplications_t2t_cnvnator_coordinates_telomeres.as_df()
duplications_t2t_cnvnator_coordinates_telomeres = duplications_t2t_cnvnator_coordinates_telomeres[duplications_t2t_cnvnator_coordinates_telomeres['Distance'] <1 ]
duplications_t2t_cnvnator_coordinates_telomeres
# Mean CN 
duplications_t2t_cnvnator_coordinates_telomeres.replace(2, np.nan, inplace=True)
duplications_t2t_cnvnator_mean_individual_telomeres= duplications_t2t_cnvnator_coordinates_telomeres['CNV_value'].mean()
duplications_t2t_cnvnator_coordinates_telomeres.replace(np.nan,2, inplace=True)




#### SDs 
duplications_t2t_cnvnator_coordinates_sds = t2t_duplications_cnvnator.nearest(t2t_sds)
duplications_t2t_cnvnator_coordinates_sds = duplications_t2t_cnvnator_coordinates_sds.as_df()
duplications_t2t_cnvnator_coordinates_sds = duplications_t2t_cnvnator_coordinates_sds[duplications_t2t_cnvnator_coordinates_sds['Distance'] <1 ]
# Mean CN 

duplications_t2t_cnvnator_coordinates_sds.replace(2, np.nan, inplace=True)
duplications_t2t_cnvnator_mean_individual_sds= duplications_t2t_cnvnator_coordinates_sds['CNV_value'].mean()
duplications_t2t_cnvnator_coordinates_sds.replace(np.nan,2, inplace=True)
duplications_t2t_cnvnator_mean_individual_sds

/var/folders/05/4pfxtbrs5459ytz3j1jhcgt00000gn/T/ipykernel_55371/4006543835.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  duplications_t2t_cnvnator_coordinates_genes.replace(np.nan,2, inplace=True)

3.5933225225225227

<h1> GRCh37

In [32]:
## Anotations
grch37_genes = pd.read_csv('../data/annotation_files/grch37-genes.csv')
grch37_telomeres = pd.read_csv('../data/annotation_files/grch37-telomers-centromers.csv')
grch37_sds = pd.read_csv('../data/annotation_files/grch37-sds.csv')
#grch37_sds = grch37_sds[['#chr1', 'start1', 'end1']]


## Read and merge files 
anotation = pd.read_csv('../data/SGDP_anotation.csv', sep=',', encoding='latin-1')

ids_hg19 = pd.DataFrame()
ids_hg19['Sample'] = anotation['3-Illumina_ID']
ids_hg19['Region'] = anotation['10-Region']


#t2t_sds.columns =['Chromosome','Start','End']
#t2t_sds
grch37_genes.columns = ['#"bin"', 'name', 'Chromosome', 'strand', 'Start', 'End', 'cdsStart',
       'cdsEnd', 'exonCount', 'exonStarts', 'exonEnds', 'score', 'name2',
       'cdsStartStat', 'cdsEndStat', 'exonFrames'] 
grch37_telomeres = grch37_telomeres[grch37_telomeres['type'] == 'telomere']
grch37_sds.columns = ['#"bin"', 'Chromosome', 'Start', 'End', 'name', 'score', 'strand',
       'otherChrom', 'otherStart', 'otherEnd', 'otherSize', 'uid',
       'posBasesHit', 'testResult', 'verdict', 'chits', 'ccov', 'alignfile',
       'alignL', 'indelN', 'indelS', 'alignB', 'matchB', 'mismatchB',
       'transitionsB', 'transversionsB', 'fracMatch', 'fracMatchIndel', 'jcK',
       'k2K']

In [37]:
data = pd.read_csv("../data/call_cnvr_grch37/grch37_cnvs.txt", sep='\t')
data = pd.read_csv("../data_backup/cnvnator_cnvs.csv")
data.columns = ['Sample_ID','Chromosome', 'Start', 'End','CNV_Value','Type','RD','Lenght', 'T-TEST-EVAL','GAUSSIAN-EVAL',]
data = data.dropna()#.describe()
data['Length_cnvr'] = data['End'] - data['Start'] 
sample_old = data[data['Sample_ID'] == 'LP6005441-DNA_G07']
#sample_old = old_assembly[old_assembly['Sample_ID'] == 'LP6005441-DNA_B10']
#sample_old = sample_old[['Chromosome', 'Start', 'End', 'RD']]
sample_old['RD'] = sample_old['RD'] * 2
#sample_old['Chromosome'] = str('chr')+sample_old['Chromosome']
    #sample_old.to_csv('LP6005441-DNA_B10_grch37.bed', index=False, header=False, sep='\t')
    #list(sample_old.columns)

#sample_old

sample_old = sample_old[~sample_old['RD'].isin([2])]

sample_old = sample_old[sample_old['Chromosome'] != 'M']
sample_old = sample_old[sample_old['Chromosome'] != 'X']
sample_old = sample_old[sample_old['Chromosome'] != 'Y']

sample_old

/var/folders/05/4pfxtbrs5459ytz3j1jhcgt00000gn/T/ipykernel_55371/3671410005.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_old['RD'] = sample_old['RD'] * 2

,Sample_ID,Chromosome,Start,End,CNV_Value,Type,RD,Lenght,T-TEST-EVAL,GAUSSIAN-EVAL,Length_cnvr
51663,LP6005441-DNA_G07,1,234001,238300,3.0,duplication,4.170320,4300.0,2.965070e-10,1.407390e+02,4299
51664,LP6005441-DNA_G07,1,267101,317800,1.0,deletion,0.010921,50700.0,3.143440e-12,0.000000e+00,50699
51665,LP6005441-DNA_G07,1,471301,521400,1.0,deletion,0.000109,50100.0,3.181090e-12,0.000000e+00,50099
51666,LP6005441-DNA_G07,1,1010801,1014700,1.0,deletion,0.444038,3900.0,4.086470e-11,2.141070e-31,3899
51667,LP6005441-DNA_G07,1,4124401,4127800,1.0,deletion,1.013284,3400.0,4.687430e-11,1.314760e-38,3399
...,...,...,...,...,...,...,...,...,...,...,...
52386,LP6005441-DNA_G07,9,138194201,138197800,1.0,deletion,1.323550,3600.0,1.411230e-02,2.138410e+09,3599
52387,LP6005441-DNA_G07,9,138214101,138217600,1.0,deletion,1.019674,3500.0,4.553500e-11,1.185690e-11,3499
52388,LP6005441-DNA_G07,9,138479101,138480200,1.0,deletion,0.000000,1100.0,1.448840e-10,3.214710e-77,1099
52389,LP6005441-DNA_G07,9,139663601,139665300,1.0,deletion,0.604050,1700.0,1.392830e-03,2.771230e-02,1699
52390,LP6005441-DNA_G07,9,140253401,140256000,1.0,deletion,0.986446,2600.0,6.129710e-11,5.009630e-27,2599

In [38]:
###### Keeping only samples that are on old cnvs 
sample_old = sample_old.merge(ids_hg19, right_on=['Sample'], left_on=['Sample_ID'])

#REMOVE SAMPLES WITH ABERRATIONS
#sample_old.columns = ['Chromosome', 'Start', 'End', 'CNVR_ID', 'Sample_iD', 'CNV_start', 'CNV_end', 'CNV_Value','Length', 'Length_cnvr','Sample','Region']
sample_old

,Sample_ID,Chromosome,Start,End,CNV_Value,Type,RD,Lenght,T-TEST-EVAL,GAUSSIAN-EVAL,Length_cnvr,Sample,Region
0,LP6005441-DNA_G07,1,234001,238300,3.0,duplication,4.170320,4300.0,2.965070e-10,1.407390e+02,4299,LP6005441-DNA_G07,America
1,LP6005441-DNA_G07,1,267101,317800,1.0,deletion,0.010921,50700.0,3.143440e-12,0.000000e+00,50699,LP6005441-DNA_G07,America
2,LP6005441-DNA_G07,1,471301,521400,1.0,deletion,0.000109,50100.0,3.181090e-12,0.000000e+00,50099,LP6005441-DNA_G07,America
3,LP6005441-DNA_G07,1,1010801,1014700,1.0,deletion,0.444038,3900.0,4.086470e-11,2.141070e-31,3899,LP6005441-DNA_G07,America
4,LP6005441-DNA_G07,1,4124401,4127800,1.0,deletion,1.013284,3400.0,4.687430e-11,1.314760e-38,3399,LP6005441-DNA_G07,America
...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,LP6005441-DNA_G07,9,138194201,138197800,1.0,deletion,1.323550,3600.0,1.411230e-02,2.138410e+09,3599,LP6005441-DNA_G07,America
724,LP6005441-DNA_G07,9,138214101,138217600,1.0,deletion,1.019674,3500.0,4.553500e-11,1.185690e-11,3499,LP6005441-DNA_G07,America
725,LP6005441-DNA_G07,9,138479101,138480200,1.0,deletion,0.000000,1100.0,1.448840e-10,3.214710e-77,1099,LP6005441-DNA_G07,America
726,LP6005441-DNA_G07,9,139663601,139665300,1.0,deletion,0.604050,1700.0,1.392830e-03,2.771230e-02,1699,LP6005441-DNA_G07,America
727,LP6005441-DNA_G07,9,140253401,140256000,1.0,deletion,0.986446,2600.0,6.129710e-11,5.009630e-27,2599,LP6005441-DNA_G07,America

In [39]:
#change to df when using telomeres and centromeres filtration
final_cnv_grch37 = sample_old.pivot_table(index=["Chromosome", "Start", "End", 'Length_cnvr'], 
                    columns='Sample', 
                    values='RD',
                        fill_value=2).reset_index()


final_cnv_grch37

Sample Chromosome      Start        End  Length_cnvr  LP6005441-DNA_G07
0               1     234001     238300         4299           4.170320
1               1     267101     317800        50699           0.010921
2               1     471301     521400        50099           0.000109
3               1    1010801    1014700         3899           0.444038
4               1    4124401    4127800         3399           1.013284
..            ...        ...        ...          ...                ...
723             9  138194201  138197800         3599           1.323550
724             9  138214101  138217600         3499           1.019674
725             9  138479101  138480200         1099           0.000000
726             9  139663601  139665300         1699           0.604050
727             9  140253401  140256000         2599           0.986446

[728 rows x 5 columns]

In [40]:
grch37_deletions_cnvnator = final_cnv_grch37[final_cnv_grch37['LP6005441-DNA_G07'] < 2]
grch37_deletions_cnvnator_mean = grch37_deletions_cnvnator['LP6005441-DNA_G07'].mean()

grch37_duplications_cnvnator = final_cnv_grch37[final_cnv_grch37['LP6005441-DNA_G07'] > 2]
grch37_duplications_cnvnator_mean = grch37_duplications_cnvnator['LP6005441-DNA_G07'].mean()

grch37_duplications_cnvnator = PyRanges(grch37_duplications_cnvnator)
grch37_deletions_cnvnator = PyRanges(grch37_deletions_cnvnator)


final_cnv_ranges_grch37 = PyRanges(final_cnv_grch37)
grch37_deletions_cnvnator

+--------------+-----------+-----------+---------------+---------------------+
| Chromosome   | Start     | End       | Length_cnvr   | LP6005441-DNA_G07   |
| (category)   | (int64)   | (int64)   | (int64)       | (float64)           |
|--------------+-----------+-----------+---------------+---------------------|
| 1            | 267101    | 317800    | 50699         | 0.01092072          |
| 1            | 471301    | 521400    | 50099         | 0.0001087124        |
| 1            | 1010801   | 1014700   | 3899          | 0.444038            |
| 1            | 4124401   | 4127800   | 3399          | 1.013284            |
| ...          | ...       | ...       | ...           | ...                 |
| 22           | 21899601  | 21905500  | 5899          | 1.20944             |
| 22           | 23478501  | 23479700  | 1199          | 0.1864096           |
| 22           | 37143101  | 37147900  | 4799          | 0.057464            |
| 22           | 39294101  | 39298700  | 4599          | 0.00356992          |
+--------------+-----------+-----------+---------------+---------------------+
Unstranded PyRanges object has 508 rows and 5 columns from 22 chromosomes.
For printing, the PyRanges was sorted on Chromosome.

<h2> Genes

In [41]:
grch37_genes['Chromosome'] = grch37_genes['Chromosome'].str.replace('chr', '')
grch37_genes_coordinates = PyRanges(grch37_genes)

grch37_telomeres['Chromosome'] = grch37_telomeres['Chromosome'].str.replace('chr', '')
grch37_telomeres = PyRanges(grch37_telomeres)

grch37_sds['Chromosome'] = grch37_sds['Chromosome'].str.replace('chr', '')
grch37_sds = PyRanges(grch37_sds)

In [42]:
#Genes
grch37_coordinates_genes = final_cnv_ranges_grch37.nearest(grch37_genes_coordinates)
grch37_coordinates_genes = grch37_coordinates_genes.as_df()
grch37_coordinates_genes = grch37_coordinates_genes[grch37_coordinates_genes['Distance'] <1 ]
#grch37_coordinates_genes

#Telomeres
grch37_coordinates_telomeres = final_cnv_ranges_grch37.nearest(grch37_telomeres)
grch37_coordinates_telomeres = grch37_coordinates_telomeres.as_df()
grch37_coordinates_telomeres = grch37_coordinates_telomeres[grch37_coordinates_telomeres['Distance'] <1 ]

#SDs
grch37_coordinates_sds = final_cnv_ranges_grch37.nearest(grch37_sds)
grch37_coordinates_sds = grch37_coordinates_sds.as_df()
grch37_coordinates_sds = grch37_coordinates_sds[grch37_coordinates_sds['Distance'] <1 ]

In [43]:
#grch37_genes = len(grch37_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates())
#grch37_genes

In [44]:
## Deletions
#### Genes 
deletions_grch37_cnvnator_coordinates_genes = grch37_deletions_cnvnator.nearest(grch37_genes_coordinates)
deletions_grch37_cnvnator_coordinates_genes = deletions_grch37_cnvnator_coordinates_genes.as_df()
deletions_grch37_cnvnator_coordinates_genes = deletions_grch37_cnvnator_coordinates_genes[deletions_grch37_cnvnator_coordinates_genes['Distance'] <1 ]
# Mean CN 
deletions_grch37_cnvnator_coordinates_genes.replace(2, np.nan, inplace=True)
deletions_grch37_cnvnator_mean_individual_genes= deletions_grch37_cnvnator_coordinates_genes['LP6005441-DNA_G07'].mean()
deletions_grch37_cnvnator_coordinates_genes.replace(np.nan,2, inplace=True)


#### Telomeres
deletions_grch37_cnvnator_coordinates_telomeres = grch37_deletions_cnvnator.nearest(grch37_telomeres)
deletions_grch37_cnvnator_coordinates_telomeres = deletions_grch37_cnvnator_coordinates_telomeres.as_df()
deletions_grch37_cnvnator_coordinates_telomeres = deletions_grch37_cnvnator_coordinates_telomeres[deletions_grch37_cnvnator_coordinates_telomeres['Distance'] <1 ]
deletions_grch37_cnvnator_coordinates_telomeres
# Mean CN 
deletions_grch37_cnvnator_coordinates_telomeres.replace(2, np.nan, inplace=True)
deletions_grch37_cnvnator_mean_individual_telomeres= deletions_grch37_cnvnator_coordinates_telomeres['LP6005441-DNA_G07'].mean()
deletions_grch37_cnvnator_coordinates_telomeres.replace(np.nan,2, inplace=True)


#### SDs 
deletions_grch37_cnvnator_coordinates_sds = grch37_deletions_cnvnator.nearest(grch37_sds)
deletions_grch37_cnvnator_coordinates_sds = deletions_grch37_cnvnator_coordinates_sds.as_df()
deletions_grch37_cnvnator_coordinates_sds = deletions_grch37_cnvnator_coordinates_sds[deletions_grch37_cnvnator_coordinates_sds['Distance'] <1 ]
# Mean CN 
deletions_grch37_cnvnator_coordinates_sds.replace(2, np.nan, inplace=True)
deletions_grch37_cnvnator_mean_individual_sds= deletions_grch37_cnvnator_coordinates_sds['LP6005441-DNA_G07'].mean()
deletions_grch37_cnvnator_coordinates_sds.replace(np.nan,2, inplace=True)

In [45]:
## Duplications
#### Genes 
duplications_grch37_cnvnator_coordinates_genes = grch37_duplications_cnvnator.nearest(grch37_genes_coordinates)
duplications_grch37_cnvnator_coordinates_genes = duplications_grch37_cnvnator_coordinates_genes.as_df()
duplications_grch37_cnvnator_coordinates_genes = duplications_grch37_cnvnator_coordinates_genes[duplications_grch37_cnvnator_coordinates_genes['Distance'] <1 ]
# Mean CN 
duplications_grch37_cnvnator_coordinates_genes.replace(2, np.nan, inplace=True)
duplications_grch37_cnvnator_mean_individual_genes= duplications_grch37_cnvnator_coordinates_genes['LP6005441-DNA_G07'].mean()
duplications_grch37_cnvnator_coordinates_genes.replace(np.nan,2, inplace=True)


#### Telomeres
duplications_grch37_cnvnator_coordinates_telomeres = grch37_duplications_cnvnator.nearest(grch37_telomeres)
duplications_grch37_cnvnator_coordinates_telomeres = duplications_grch37_cnvnator_coordinates_telomeres.as_df()
duplications_grch37_cnvnator_coordinates_telomeres = duplications_grch37_cnvnator_coordinates_telomeres[duplications_grch37_cnvnator_coordinates_telomeres['Distance'] <1 ]
duplications_grch37_cnvnator_coordinates_telomeres
# Mean CN 
duplications_grch37_cnvnator_coordinates_telomeres.replace(2, np.nan, inplace=True)
duplications_grch37_cnvnator_mean_individual_telomeres= duplications_grch37_cnvnator_coordinates_telomeres['LP6005441-DNA_G07'].mean()
duplications_grch37_cnvnator_coordinates_telomeres.replace(np.nan,2, inplace=True)


#### SDs 
duplications_grch37_cnvnator_coordinates_sds = grch37_duplications_cnvnator.nearest(grch37_sds)
duplications_grch37_cnvnator_coordinates_sds = duplications_grch37_cnvnator_coordinates_sds.as_df()
duplications_grch37_cnvnator_coordinates_sds = duplications_grch37_cnvnator_coordinates_sds[duplications_grch37_cnvnator_coordinates_sds['Distance'] <1 ]
# Mean CN 
duplications_grch37_cnvnator_coordinates_sds.replace(2, np.nan, inplace=True)
duplications_grch37_cnvnator_mean_individual_sds= duplications_grch37_cnvnator_coordinates_sds['LP6005441-DNA_G07'].mean()
duplications_grch37_cnvnator_coordinates_sds.replace(np.nan,2, inplace=True)

<h2> Peter Sudmant data

In [46]:
sudmant = pd.read_csv('/Users/luciabazan/Downloads/sudmant_data.csv')
sudmant = sudmant[['contig','start','end','AMR_Maya_HGDP00855_F']]
sudmant.columns =['Chromosome', 'Start', 'End', 'CNV_value']


#sudmant['Chromosome'] = sudmant['Chromosome'].str.replace('chr','hs')
n_uncalled = np.sum(sudmant==-1,1)
sudmant = sudmant[n_uncalled==0]

sudmant['Length_cnvr'] = sudmant['End'] - sudmant['Start'] 
sudmant = sudmant[~sudmant['CNV_value'].isin([2])]


sudmant['Chromosome'] = sudmant['Chromosome'].str.replace('chr', '')
sudmant = sudmant[sudmant['Chromosome'] != 'M']
sudmant = sudmant[sudmant['Chromosome'] != 'X']
sudmant = sudmant[sudmant['Chromosome'] != 'Y']


grch37_deletions_sudmant = sudmant[sudmant['CNV_value'] < 3]
grch37_deletions_sudmant_mean = grch37_deletions_sudmant['CNV_value'].mean()

grch37_duplications_sudmant = sudmant[sudmant['CNV_value'] > 1]
grch37_duplications_sudmant_mean = grch37_duplications_sudmant['CNV_value'].mean()

grch37_duplications_sudmant = PyRanges(grch37_duplications_sudmant)
grch37_deletions_sudmant = PyRanges(grch37_deletions_sudmant)


sudmant = PyRanges(sudmant)
sudmant

+--------------+-----------+-----------+-------------+---------------+
| Chromosome   | Start     | End       | CNV_value   | Length_cnvr   |
| (category)   | (int64)   | (int64)   | (int64)     | (int64)       |
|--------------+-----------+-----------+-------------+---------------|
| 1            | 12048     | 177033    | 22          | 164985        |
| 1            | 12048     | 89237     | 10          | 77189         |
| 1            | 228416    | 267160    | 24          | 38744         |
| 1            | 471226    | 471326    | 10          | 100           |
| ...          | ...       | ...       | ...         | ...           |
| 22           | 42973707  | 42973857  | 4           | 150           |
| 22           | 49013936  | 49016261  | 5           | 2325          |
| 22           | 51223959  | 51224959  | 4           | 1000          |
| 22           | 51201920  | 51223959  | 4           | 22039         |
+--------------+-----------+-----------+-------------+---------------+
Unstranded PyRanges object has 4,316 rows and 5 columns from 22 chromosomes.
For printing, the PyRanges was sorted on Chromosome.

In [47]:
#Genes
peter_coordinates_genes = sudmant.nearest(grch37_genes_coordinates)
peter_coordinates_genes = peter_coordinates_genes.as_df()
peter_coordinates_genes = peter_coordinates_genes[peter_coordinates_genes['Distance'] <1 ]
#grch37_coordinates_genes

#Telomeres
peter_coordinates_telomeres = sudmant.nearest(grch37_telomeres)
peter_coordinates_telomeres = peter_coordinates_telomeres.as_df()
peter_coordinates_telomeres = peter_coordinates_telomeres[peter_coordinates_telomeres['Distance'] <1 ]

#SDs
peter_coordinates_sds = sudmant.nearest(grch37_sds)
peter_coordinates_sds = peter_coordinates_sds.as_df()
peter_coordinates_sds = peter_coordinates_sds[peter_coordinates_sds['Distance'] <1 ]

In [48]:
peter_coordinates_sds#[['Chromosome','Start', 'End']].drop_duplicates()

,Chromosome,Start,End,CNV_value,Length_cnvr,"#""bin""",Start_b,End_b,name,score,...,alignB,matchB,mismatchB,transitionsB,transversionsB,fracMatch,fracMatchIndel,jcK,k2K,Distance
0,1,12048,177033,22,164985,585,10000,87112,chr15:102446355,0,...,74269,73742,527,332,195,0.992904,0.991956,0.007130,0.007133,0
1,1,12048,89237,10,77189,585,10000,87112,chr15:102446355,0,...,74269,73742,527,332,195,0.992904,0.991956,0.007130,0.007133,0
2,1,228416,267160,24,38744,586,227417,238719,chr17:81176011,0,...,11249,11065,184,123,61,0.983643,0.981984,0.016538,0.016561,0
3,1,471226,471326,10,100,73,317719,471368,chr5:180744334,0,...,153555,153444,111,75,36,0.999277,0.999121,0.000723,0.000723,0
4,1,318047,471226,21,153179,73,317719,471368,chr5:180744334,0,...,153555,153444,111,75,36,0.999277,0.999121,0.000723,0.000723,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4290,22,42973857,42980083,4,6226,912,42962426,42978456,chr22:42902112,0,...,13422,13031,391,245,146,0.970869,0.967122,0.029712,0.029771,0
4291,22,42973707,42973857,4,150,912,42962426,42978456,chr22:42902112,0,...,13422,13031,391,245,146,0.970869,0.967122,0.029712,0.029771,0
4292,22,49013936,49016261,5,2325,958,49014584,49015948,chr15:22514585,0,...,1331,1270,61,44,17,0.954170,0.949888,0.047290,0.047556,0
4293,22,51223959,51224959,4,1000,975,51198214,51236901,chr2:114370005,0,...,38593,38225,368,242,126,0.990465,0.989260,0.009597,0.009604,0
4294,22,51201920,51223959,4,22039,975,51198214,51236901,chr2:114370005,0,...,38593,38225,368,242,126,0.990465,0.989260,0.009597,0.009604,0

In [49]:
## Deletions
#### Genes 
deletions_grch37_sudmant_coordinates_genes = grch37_deletions_sudmant.nearest(grch37_genes_coordinates)
deletions_grch37_sudmant_coordinates_genes = deletions_grch37_sudmant_coordinates_genes.as_df()
deletions_grch37_sudmant_coordinates_genes = deletions_grch37_sudmant_coordinates_genes[deletions_grch37_sudmant_coordinates_genes['Distance'] <1 ]
# Mean CN 
deletions_grch37_sudmant_coordinates_genes.replace(2, np.nan, inplace=True)
deletions_grch37_sudmant_mean_individual_genes= deletions_grch37_sudmant_coordinates_genes['CNV_value'].mean()
deletions_grch37_sudmant_coordinates_genes.replace(np.nan,2, inplace=True)


#### Telomeres
deletions_grch37_sudmant_coordinates_telomeres = grch37_deletions_sudmant.nearest(grch37_telomeres)
deletions_grch37_sudmant_coordinates_telomeres = deletions_grch37_sudmant_coordinates_telomeres.as_df()
deletions_grch37_sudmant_coordinates_telomeres = deletions_grch37_sudmant_coordinates_telomeres[deletions_grch37_sudmant_coordinates_telomeres['Distance'] <1 ]
deletions_grch37_sudmant_coordinates_telomeres
# Mean CN 
deletions_grch37_sudmant_coordinates_telomeres.replace(2, np.nan, inplace=True)
deletions_grch37_sudmant_mean_individual_telomeres= deletions_grch37_sudmant_coordinates_telomeres['CNV_value'].mean()
deletions_grch37_sudmant_coordinates_telomeres.replace(np.nan,2, inplace=True)


#### SDs 
deletions_grch37_sudmant_coordinates_sds = grch37_deletions_sudmant.nearest(grch37_sds)
deletions_grch37_sudmant_coordinates_sds = deletions_grch37_sudmant_coordinates_sds.as_df()
deletions_grch37_sudmant_coordinates_sds = deletions_grch37_sudmant_coordinates_sds[deletions_grch37_sudmant_coordinates_sds['Distance'] <1 ]
# Mean CN 
deletions_grch37_sudmant_coordinates_sds.replace(2, np.nan, inplace=True)
deletions_grch37_sudmant_mean_individual_sds= deletions_grch37_sudmant_coordinates_sds['CNV_value'].mean()
deletions_grch37_sudmant_coordinates_sds.replace(np.nan,2, inplace=True)

In [50]:
## Duplications
#### Genes 
duplications_grch37_sudmant_coordinates_genes = grch37_duplications_sudmant.nearest(grch37_genes_coordinates)
duplications_grch37_sudmant_coordinates_genes = duplications_grch37_sudmant_coordinates_genes.as_df()
duplications_grch37_sudmant_coordinates_genes = duplications_grch37_sudmant_coordinates_genes[duplications_grch37_sudmant_coordinates_genes['Distance'] <1 ]
# Mean CN 
duplications_grch37_sudmant_coordinates_genes.replace(2, np.nan, inplace=True)
duplications_grch37_sudmant_mean_individual_genes= duplications_grch37_sudmant_coordinates_genes['CNV_value'].mean()
duplications_grch37_sudmant_coordinates_genes.replace(np.nan,2, inplace=True)


#### Telomeres
duplications_grch37_sudmant_coordinates_telomeres = grch37_duplications_sudmant.nearest(grch37_telomeres)
duplications_grch37_sudmant_coordinates_telomeres = duplications_grch37_sudmant_coordinates_telomeres.as_df()
duplications_grch37_sudmant_coordinates_telomeres = duplications_grch37_sudmant_coordinates_telomeres[duplications_grch37_sudmant_coordinates_telomeres['Distance'] <1 ]
duplications_grch37_sudmant_coordinates_telomeres
# Mean CN 
duplications_grch37_sudmant_coordinates_telomeres.replace(2, np.nan, inplace=True)
duplications_grch37_sudmant_mean_individual_telomeres= duplications_grch37_sudmant_coordinates_telomeres['CNV_value'].mean()
duplications_grch37_sudmant_coordinates_telomeres.replace(np.nan,2, inplace=True)


#### SDs 
duplications_grch37_sudmant_coordinates_sds = grch37_duplications_sudmant.nearest(grch37_sds)
duplications_grch37_sudmant_coordinates_sds = duplications_grch37_sudmant_coordinates_sds.as_df()
duplications_grch37_sudmant_coordinates_sds = duplications_grch37_sudmant_coordinates_sds[duplications_grch37_sudmant_coordinates_sds['Distance'] <1 ]
# Mean CN 
duplications_grch37_sudmant_coordinates_sds.replace(2, np.nan, inplace=True)
duplications_grch37_sudmant_mean_individual_sds= duplications_grch37_sudmant_coordinates_sds['CNV_value'].mean()
duplications_grch37_sudmant_coordinates_sds.replace(np.nan,2, inplace=True)

GRCh37 Duplications

In [64]:
literature = {'Data': ['GRCh37', '  Genes','  Telomeres','  SDs','T2T-CHM13', '  Genes','  Telomeres','  SDs'
             ], 
     'Literature':[len(sudmant), 
                  len(peter_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()),
                  len(peter_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()), 
                  len(peter_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates()), 
                  len(final_cnv_ranges), 
                  len(coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()),
                  len(coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()), 
                  len(coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates()), ], 
     'Mean size(Bp) Literature':[round(sudmant.as_df()['Length_cnvr'].mean()), 
                      round(peter_coordinates_genes['Length_cnvr'].mean()), 
                      peter_coordinates_telomeres['Length_cnvr'].mean(), 
                      round(peter_coordinates_sds['Length_cnvr'].mean()), 
                      round(final_cnv['Length_cnvr'].mean()),
                      round(coordinates_genes['Length_cnvr'].mean()),
                      round(coordinates_telomeres['Length_cnvr'].mean()), 
                      round(coordinates_sds['Length_cnvr'].mean())],
    'Standard deviation Literature':[round(sudmant.as_df()['Length_cnvr'].std()), 
                      round(peter_coordinates_genes['Length_cnvr'].std()), 
                      peter_coordinates_telomeres['Length_cnvr'].std(), 
                      round(peter_coordinates_sds['Length_cnvr'].std()), 
                      round(final_cnv['Length_cnvr'].std()),
                      round(coordinates_genes['Length_cnvr'].std()),
                      round(coordinates_telomeres['Length_cnvr'].std()), 
                      round(coordinates_sds['Length_cnvr'].std())],
    'Literature  Deletions':[len(grch37_deletions_sudmant), 
                              len(deletions_grch37_sudmant_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()), 
                                     len(deletions_grch37_sudmant_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(deletions_grch37_sudmant_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(t2t_deletions_gb),
                                     len(deletions_t2t_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(deletions_t2t_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(deletions_t2t_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates())],
     
     'Literature Mean CN Deletions':[grch37_deletions_sudmant_mean, 
                                     deletions_grch37_sudmant_mean_individual_genes, 
                                     deletions_grch37_sudmant_mean_individual_telomeres,
                                     deletions_grch37_sudmant_mean_individual_sds,
                                     t2t_deletions_gb_mean,
                                     deletions_t2t_mean_individual_genes,
                                     deletions_t2t_mean_individual_telomeres,
                                     deletions_t2t_mean_individual_sds
                                    ],

     
     'Literature  Duplications':[len(grch37_duplications_sudmant), 
                              len(duplications_grch37_sudmant_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()), 
                                     len(duplications_grch37_sudmant_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(duplications_grch37_sudmant_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(t2t_duplications_gb),
                                     len(duplications_t2t_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(duplications_t2t_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(duplications_t2t_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates())],
     'Literature Mean CN Duplications':[grch37_duplications_sudmant_mean,
                                       duplications_grch37_sudmant_mean_individual_genes,
                                       duplications_grch37_sudmant_mean_individual_telomeres,
                                       duplications_grch37_sudmant_mean_individual_sds,
                                       t2t_duplications_gb_mean,
                                        duplications_t2t_mean_individual_genes,
                                        duplications_t2t_mean_individual_telomeres,
                                        duplications_t2t_mean_individual_sds],
    
    }
df = pd.DataFrame(data=literature)
df

,Data,Literature,Mean size(Bp) Literature,Standard deviation Literature,Literature Deletions,Literature Mean CN Deletions,Literature Duplications,Literature Mean CN Duplications
0,GRCh37,4316,32098.0,66435.0,333,0.726727,3983,10.283204
1,Genes,3087,39603.0,76185.0,180,0.738889,2907,10.553492
2,Telomeres,0,NaN,NaN,0,NaN,0,NaN
3,SDs,3704,36046.0,70746.0,20,0.850000,3684,10.779045
4,T2T-CHM13,7680,91996.0,975897.0,5103,1.021968,2693,5.469177
5,Genes,6267,104423.0,1079792.0,3883,1.028735,2489,5.618915
6,Telomeres,19,11658011.0,15837724.0,12,0.969551,7,32.009488
7,SDs,1245,342104.0,2404566.0,443,1.072734,831,7.153938

In [65]:
d = {'Data': ['GRCh37', '  Genes','  Telomeres','  SDs','T2T-CHM13', '  Genes','  Telomeres','  SDs'
             ], 
     'CNVNator': [len(final_cnv_grch37), 
               len(grch37_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()), 
               len(grch37_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()), 
               len(grch37_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates()),  
               len(t2t_cnvnator), 
               len(t2t_cnvnator_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()), 
               len(t2t_cnvnator_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()), 
               len(t2t_cnvnator_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates())
              ], 
     'Mean size(Bp)':[final_cnv_grch37['Length_cnvr'].mean().round(), 
                      grch37_coordinates_genes['Length_cnvr'].mean().round(), 
                      grch37_coordinates_telomeres['Length_cnvr'].mean().round(), 
                      grch37_coordinates_sds['Length_cnvr'].mean().round(), 
                      t2t_cnvnator.as_df()['Length_cnvr'].mean().round(),
                      t2t_cnvnator_coordinates_genes['Length_cnvr'].mean().round(),
                      t2t_cnvnator_coordinates_telomeres['Length_cnvr'].mean().round(), 
                      t2t_cnvnator_coordinates_sds['Length_cnvr'].mean().round()],
     'Size (std)':[round(final_cnv_grch37['Length_cnvr'].std()), 
                      round(grch37_coordinates_genes['Length_cnvr'].std()), 
                      round(grch37_coordinates_telomeres['Length_cnvr'].std()), 
                      round(grch37_coordinates_sds['Length_cnvr'].std()), 
                      round(t2t_cnvnator.as_df()['Length_cnvr'].std()),
                      round(t2t_cnvnator_coordinates_genes['Length_cnvr'].std()),
                      round(t2t_cnvnator_coordinates_telomeres['Length_cnvr'].std()), 
                      round(t2t_cnvnator_coordinates_sds['Length_cnvr'].std())],
     
     'Deletions':[len(grch37_deletions_cnvnator), 
                              len(deletions_grch37_cnvnator_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()), 
                                     len(deletions_grch37_cnvnator_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(deletions_grch37_cnvnator_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(t2t_deletions_cnvnator),
                                     len(deletions_t2t_cnvnator_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(deletions_t2t_cnvnator_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(deletions_t2t_cnvnator_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates())],

     'CNVnator Mean CN Deletions':[grch37_deletions_cnvnator_mean,
                                   deletions_grch37_cnvnator_mean_individual_genes,
                                   deletions_grch37_cnvnator_mean_individual_telomeres,
                                   deletions_grch37_cnvnator_mean_individual_sds,
                                   t2t_deletions_cnvnator_mean, 
                                   deletions_t2t_cnvnator_mean_individual_genes,
                                   deletions_t2t_cnvnator_mean_individual_telomeres,
                                   deletions_t2t_cnvnator_mean_individual_sds],

    'Duplications':[len(grch37_duplications_cnvnator), 
                              len(duplications_grch37_cnvnator_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()), 
                                     len(duplications_grch37_cnvnator_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(duplications_grch37_cnvnator_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(t2t_duplications_cnvnator),
                                     len(duplications_t2t_cnvnator_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(duplications_t2t_cnvnator_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()),
                                     len(duplications_t2t_cnvnator_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates())],

     'CNVnator Mean CN Duplications':[grch37_duplications_cnvnator_mean,
                                      duplications_grch37_cnvnator_mean_individual_genes,
                                      duplications_grch37_cnvnator_mean_individual_telomeres,
                                      duplications_grch37_cnvnator_mean_individual_sds,
                                      t2t_duplications_cnvnator_mean,
                                      duplications_t2t_cnvnator_mean_individual_genes,
                                      duplications_t2t_cnvnator_mean_individual_telomeres,
                                      duplications_t2t_cnvnator_mean_individual_sds
                                      
                                     ],


    
    }
df = pd.DataFrame(data=d)
df

,Data,CNVNator,Mean size(Bp),Size (std),Deletions,CNVnator Mean CN Deletions,Duplications,CNVnator Mean CN Duplications
0,GRCh37,728,18512.0,40602,508,0.773704,220,4.375335
1,Genes,383,23790.0,48781,272,0.786549,111,4.271579
2,Telomeres,3,47899.0,32020,3,0.099335,0,NaN
3,SDs,430,27020.0,49140,234,0.852147,196,4.463832
4,T2T-CHM13,1855,66703.0,129066,1420,0.894372,435,3.969565
5,Genes,386,64483.0,114921,224,0.997807,162,3.344081
6,Telomeres,5,101599.0,78341,3,1.049467,2,4.295300
7,SDs,569,59707.0,101041,347,0.981064,222,3.593323

In [53]:
len(peter_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates())

3704

In [55]:
final_cnv_grch37['Length_cnvr'].std()

40602.20857036721