In [12]:
import pandas as pd
from itertools import combinations
import math
import numpy as np
import statistics
from itertools import permutations
from bioinfokit import analys, visuz

ModuleNotFoundError: No module named 'bioinfokit'

In [2]:
#pd.set_option('display.max_rows', 400)
data = pd.read_csv("cnvator_data_archaic_overlapped.csv")


anotation = pd.read_csv('/branchinecta/jbazanwilliamson/SGDP_anotation.csv', sep=',', encoding='latin-1',  index_col=1)

In [3]:
cnv = data.pivot_table(index=["Chr", "Start", "End"], 
                    columns='Sample_ID', 
                    values='RD').reset_index()
cnv.loc[cnv['Chr'] == 8].tail(300)

Sample_ID,Chr,Start,End,LP6005441-DNA_A01,LP6005441-DNA_A03,LP6005441-DNA_A04,LP6005441-DNA_A05,LP6005441-DNA_A06,LP6005441-DNA_A08,LP6005441-DNA_A09,...,SS6004471,SS6004472,SS6004473,SS6004474,SS6004475,SS6004476,SS6004477,SS6004478,SS6004479,SS6004480
2071,8,15239,181782,0.537783,0.550795,0.471719,0.528022,0.508083,0.5222,0.573798,...,1.020692,0.518809,0.702275,0.542313,0.515473,0.637756,0.380658,0.597551,0.429167,1.359786
2072,8,308302,312885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2073,8,563365,564848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2074,8,593901,599598,0.000000,0.000513,NaN,0.000000,0.451640,NaN,0.408189,...,0.522202,NaN,NaN,0.001043,0.512552,0.486635,0.127359,0.495626,0.511263,NaN
2075,8,604629,608409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,8,145761444,145767736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2310,8,145840804,145843658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2311,8,145909720,145914615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.332721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2312,8,145938166,145943388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2313,8,146052396,146054571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.215200,NaN,NaN

In [4]:
coordinates = cnv.iloc[:,0:2]
cnvs = cnv.iloc[:,3:284]
cnvs = cnvs.T
cnvs = cnvs.fillna(2)
cnvs

,0,1,2,3,4,5,6,7,8,9,...,4605,4606,4607,4608,4609,4610,4611,4612,4613,4614
Sample_ID,,,,,,,,,,,,,,,,,,,,,
LP6005441-DNA_A01,2.089230,0.351718,2.000000,2.0,2.000000,2.000000,2.000000,0.498249,2.000000,2.000000,...,2.0,0.414003,2.0,2.0,2.0,2.00000,2.0,2.0,2.00000,2.0
LP6005441-DNA_A03,1.098060,0.381499,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.0,0.000000,2.0,2.0,2.0,2.00000,2.0,2.0,2.00000,2.0
LP6005441-DNA_A04,1.088959,0.353139,2.000000,2.0,2.000000,2.000000,2.000000,0.451920,2.000000,2.000000,...,2.0,2.000000,2.0,2.0,2.0,2.00000,2.0,2.0,2.00000,2.0
LP6005441-DNA_A05,1.945120,2.000000,2.000000,2.0,2.000000,2.000000,2.000000,0.226983,2.000000,2.000000,...,2.0,0.507854,2.0,2.0,2.0,2.00000,2.0,2.0,2.00000,2.0
LP6005441-DNA_A06,1.743018,1.501635,2.000000,2.0,2.000000,2.000000,2.000000,0.358707,2.000000,2.000000,...,2.0,0.481987,2.0,2.0,2.0,2.00000,2.0,2.0,2.00000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SS6004476,2.087340,1.273283,2.000000,2.0,2.000000,2.000000,2.000000,0.483788,0.250704,0.250704,...,2.0,2.000000,2.0,2.0,2.0,2.00000,2.0,2.0,2.00000,2.0
SS6004477,0.971431,0.384140,0.478341,2.0,1.338520,2.000000,2.000000,1.355250,0.434017,0.434017,...,2.0,0.000000,2.0,2.0,2.0,2.00000,2.0,2.0,2.00000,2.0
SS6004478,1.032574,0.404601,0.700392,2.0,0.332834,0.574234,2.000000,2.000000,0.143632,0.143632,...,2.0,0.000000,2.0,2.0,2.0,1.26924,2.0,2.0,1.30585,2.0
SS6004479,1.820703,0.918972,2.000000,2.0,0.222146,2.000000,0.152868,0.281764,0.233513,0.233513,...,2.0,2.000000,2.0,2.0,2.0,2.00000,2.0,2.0,2.00000,2.0
SS6004480,1.947480,0.366604,2.000000,2.0,2.000000,2.000000,0.260995,2.000000,0.271405,0.271405,...,2.0,2.000000,2.0,2.0,2.0,1.38635,2.0,2.0,2.00000,2.0

In [5]:
features = anotation.loc[:,["7-Gender","10-Region", "11-Country",]]
dt = features.merge(cnvs, left_index=True, right_index=True)

In [6]:
dt = dt.groupby('10-Region')
dt

In [7]:
####### Groupby regions #######

dt_groupped = []
regions = anotation['10-Region'].unique()
for i in regions:
    dt_groupped.append(dt.get_group(str(i)))
    
######## V = within-population variance ######

v = []
for i in dt_groupped:
    v.append((i.var()))#You can add log2 transformation here as np.log2(i.var())


########### N =  numbers of individuals sampled from population each cnv ##############
n = dt.count()
n = n.drop(columns=['7-Gender', '11-Country'])
n = n.reindex(regions)
n = np.array(n)
    

######## Vt = total variance across all individuals of the pair of populations ########
vt = []
combination_regions = list(combinations([0,1,2,3,4,5,6],2))
for i in combination_regions:
    pair_populations = pd.concat([dt_groupped[i[0]],dt_groupped[i[1]]])# dt_groupped[i[0]]+dt_groupped[i[1]]
    vt.append(pair_populations.var())

    
########## Vs ################## 
### Vs = (V1*n1+V2*n2)/(n1+n2) 
## where V1 is the within-population variance of population 1, 
## V2 is the within population variance of population 2, 
#n1 and n2 are the numbers of individuals sampled from population 1 and 2, respectively.

vs = []
for i in combination_regions:
    v1 = v[i[0]]*n[i[0]]
    v2 = v[i[1]]*n[i[1]]
    ns = n[i[0]]+n[i[1]]
    vs_formula = (v1+v2)/ ns
    vs.append(vs_formula)
    
    
    
########## Vst #################
#####(VT−VS)/VT
vst = []
for i in range(21):
    vst.append(((vt[i])-(vs[i]))/(vt[i]))

In [8]:

vst_dt = np.array(vst)

vst_dt = pd.DataFrame(vst_dt)


#### ADD pair-population names #####
combination_names = []
for i in list(combinations(regions,2)):
    combination_names.append(i[0]+str('-')+i[1])

In [9]:
vst_dt = vst_dt.set_axis(combination_names)
vst_dt = vst_dt.T
#vst_dt['chr'] = studmant_data['contig']
vst_dt.insert (0, 'chr', cnv['Chr'])
vst_dt.insert (1, 'start', cnv['Start'])
vst_dt.insert (2, 'end', cnv['End'])
vst_dt = vst_dt.round(5)

In [10]:
vst_dt.sort_values(by='WestEurasia-Oceania', ascending=False)
vst_dt.loc[2148]

chr                               8.000000e+00
start                             2.298152e+07
end                               2.298934e+07
WestEurasia-SouthAsia            -5.990000e-03
WestEurasia-Africa                0.000000e+00
WestEurasia-CentralAsiaSiberia   -0.000000e+00
WestEurasia-Oceania               3.133500e-01
WestEurasia-America              -0.000000e+00
WestEurasia-EastAsia              0.000000e+00
SouthAsia-Africa                 -0.000000e+00
SouthAsia-CentralAsiaSiberia     -0.000000e+00
SouthAsia-Oceania                 2.347800e-01
SouthAsia-America                 0.000000e+00
SouthAsia-EastAsia                0.000000e+00
Africa-CentralAsiaSiberia                  NaN
Africa-Oceania                    2.907800e-01
Africa-America                             NaN
Africa-EastAsia                            NaN
CentralAsiaSiberia-Oceania        2.521300e-01
CentralAsiaSiberia-America                 NaN
CentralAsiaSiberia-EastAsia                NaN
Oceania-America                   2.338500e-01
Oceania-EastAsia                  2.938900e-01
America-EastAsia                           NaN
Name: 2148, dtype: float64

In [11]:
#### SAVING VST FILE
vst_dt

,chr,start,end,WestEurasia-SouthAsia,WestEurasia-Africa,WestEurasia-CentralAsiaSiberia,WestEurasia-Oceania,WestEurasia-America,WestEurasia-EastAsia,SouthAsia-Africa,...,Africa-CentralAsiaSiberia,Africa-Oceania,Africa-America,Africa-EastAsia,CentralAsiaSiberia-Oceania,CentralAsiaSiberia-America,CentralAsiaSiberia-EastAsia,Oceania-America,Oceania-EastAsia,America-EastAsia
0,1,228416,267160,-0.00859,-0.00031,0.01591,0.01830,-0.00710,-0.00845,-0.00453,...,-0.00421,0.05935,-0.01957,-0.00104,0.10048,-0.01725,0.02036,0.04087,0.01628,-0.00876
1,1,521526,568203,0.02206,0.01321,0.01380,0.00832,0.01129,-0.00130,-0.00887,...,-0.01120,-0.01644,-0.01315,-0.00824,-0.02167,-0.02248,-0.00514,-0.02187,-0.00840,-0.00554
2,1,563872,572534,0.01426,-0.00313,0.02836,-0.00279,-0.00171,-0.00303,-0.00185,...,0.01994,-0.01390,-0.01374,-0.01135,0.02218,0.01303,0.01813,-0.02249,-0.01324,-0.01307
3,1,899742,901754,NaN,NaN,0.00000,NaN,NaN,NaN,NaN,...,0.00000,NaN,NaN,NaN,0.00000,0.00000,0.00000,NaN,NaN,NaN
4,1,974768,978161,0.00481,0.00519,0.00373,0.01504,0.00490,-0.00791,NaN,...,NaN,0.04934,0.03181,0.00670,0.04093,0.02657,0.00509,-0.02280,-0.00024,-0.00646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4610,22,50342488,50345958,-0.00950,-0.00114,0.00622,-0.00737,-0.01358,0.00888,-0.00914,...,0.00000,-0.01492,-0.01185,-0.00000,-0.00000,0.00000,NaN,-0.01912,-0.00000,-0.00000
4611,22,50443466,50446957,NaN,NaN,NaN,NaN,0.15042,NaN,NaN,...,NaN,NaN,0.13334,NaN,NaN,0.11336,NaN,0.10812,NaN,0.13499
4612,22,50649161,50654860,NaN,0.00000,NaN,NaN,NaN,NaN,0.00000,...,0.00000,0.00000,0.00000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN
4613,22,50754570,50756386,0.00481,-0.00870,0.00374,-0.01248,0.00321,0.00534,0.00000,...,-0.00000,-0.01514,-0.00000,0.00000,0.00000,NaN,NaN,-0.00000,-0.00000,NaN
4614,22,50970054,50977909,0.00309,0.00334,0.00240,0.00220,0.00206,0.00343,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h1>  Sudmant data

In [ ]:
header= ['Sample', 'Region', 'Country', 'Sample_ID', 'Sex']
studmant_anotation = pd.read_csv('/branchinecta/jbazanwilliamson/Studmant_anotation.csv', names=header, index_col=0)#Studmant data

studmant_data = pd.read_csv('/branchinecta/jbazanwilliamson/Studmant_cnvs.csv')
#studmant_data

In [ ]:


#studmant_data.loc[studmant_data['contig'] == 'chr16'].head(400)

In [ ]:
coordinates = studmant_data.iloc[:,0:2]
cnvs = studmant_data.iloc[:,6:284]
cnvs = cnvs.T
cnvs = cnvs.fillna(2)
statistics.variance(cnvs[1])
#cnvs[1].var()

In [ ]:
features = studmant_anotation.loc[:,["Region","Country", "Sex",]]
dt = features.merge(cnvs, left_index=True, right_index=True)
features = dt.loc[:,['Region', 'Country', 'Sex']]
dt = dt[dt['Region'].notna()]

In [ ]:
dt = dt.groupby('Region')
dt

In [ ]:
####### Groupby regions #######

dt_groupped = []
regions = features['Region'].unique()
for i in regions:
    dt_groupped.append(dt.get_group(str(i)))
    
######## V = within-population variance ######

v = []
for i in dt_groupped:
    v.append((i.var()))#You can add log2 transformation here as np.log2(i.var())


########### N =  numbers of individuals sampled from population each cnv ##############
n = dt.count()
n = n.drop(columns=['Sex', 'Country'])
n = n.reindex(regions)
n = np.array(n)
    

######## Vt = total variance across all individuals of the pair of populations ########
vt = []
combination_regions = list(combinations([0,1,2,3,4,5,6,7],2))
for i in combination_regions:
    pair_populations = pd.concat([dt_groupped[i[0]],dt_groupped[i[1]]])# dt_groupped[i[0]]+dt_groupped[i[1]]
    vt.append(pair_populations.var())

    
########## Vs ################## 
### Vs = (V1*n1+V2*n2)/(n1+n2) 
## where V1 is the within-population variance of population 1, 
## V2 is the within population variance of population 2, 
#n1 and n2 are the numbers of individuals sampled from population 1 and 2, respectively.

vs = []
for i in combination_regions:
    v1 = v[i[0]]*n[i[0]]
    v2 = v[i[1]]*n[i[1]]
    ns = n[i[0]]+n[i[1]]
    vs_formula = (v1+v2)/ ns
    vs.append(vs_formula)
    
    
    
########## Vst #################
#####(VT−VS)/VT
vst = []
for i in range(28):
    vst.append(((vt[i])-(vs[i]))/(vt[i]))

In [ ]:
vst_dt = np.array(vst)
vst_dt = pd.DataFrame(vst_dt)


#### ADD pair-population names #####
combination_names = []
for i in list(combinations(regions,2)):
    combination_names.append(i[0]+str('-')+i[1])

In [ ]:
vst_dt = vst_dt.set_axis(combination_names)
vst_dt = vst_dt.T
#vst_dt['chr'] = studmant_data['contig']
vst_dt.insert (0, 'chr', studmant_data['contig'])
vst_dt.insert (1, 'start', studmant_data['start'])
vst_dt.insert (2, 'end', studmant_data['end'])
vst_dt = vst_dt.round(5)

In [ ]:
vst_dt.sort_values(by='OCN-WEA', ascending=False).head(50)

In [ ]:
vst_dt.iloc[5487]

In [ ]:
n

In [ ]:
list(permutations([0,1,2,3,4,5,6],2))