In [1]:
import pandas as pd
import numpy as np

In [2]:
## OLD region 
# chr8:22886278â€“23003689

## liftover to new assembly
chr8:22842083-23843719

In [3]:
old_assembly = pd.read_csv('../data/cnvnator_cnvs.csv')
#sample_old = old_assembly[['Chromosome', 'Start', 'End', 'LP6005441-DNA_B10']]
#sample_old = old_assembly[old_assembly['Sample_ID'] == 'LP6005441-DNA_B10']
#sample_old = sample_old[['Chromosome', 'Start', 'End', 'RD']]
#sample_old['RD'] = sample_old['RD'] * 2
#sample_old['Chromosome'] = str('chr')+sample_old['Chromosome']
    #sample_old.to_csv('LP6005441-DNA_B10_grch37.bed', index=False, header=False, sep='\t')
    #list(sample_old.columns)
sample_old = old_assembly[old_assembly['Sample_ID'] == 'LP6005441-DNA_B10']
#sample_old
sample_old['RD'] = sample_old['RD'] * 2 
sample_old = sample_old[sample_old['T-TEST-EVAL'] < 0.05]
#sample_old = sample_old[~sample_old['LP6005441-DNA_B10'].isin([2])]
#sample_old.columns = ['Chromosome', 'Start', 'End', 'RD']
#sample_old['assembly'] = 'GRCh37'
sample_old = sample_old[sample_old['Chromosome'] == '8']
sample_old =sample_old[sample_old['Start'] > 22886078]#chr8:22886278-23003689
sample_old =sample_old[sample_old['End'] < 23003989]
sample_old

/var/folders/05/4pfxtbrs5459ytz3j1jhcgt00000gn/T/ipykernel_2242/3906553930.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_old['RD'] = sample_old['RD'] * 2

,Sample_ID,Chromosome,Start,End,CNV_value,Type,RD,Lenght,T-TEST-EVAL,GAUSSIAN-EVAL
14752,LP6005441-DNA_B10,8,22992201,22996700,3.0,duplication,3.88814,4500.0,0.000000e+00,3.463040e-30
14753,LP6005441-DNA_B10,8,22997801,23000600,3.0,duplication,4.11506,2800.0,4.120920e-08,6.169350e-02

In [4]:
sample_t2t = pd.read_csv('/Users/luciabazan/output.tsv', sep='\t', header=None)
sample_t2t = sample_t2t[[3,4,5,7]]
sample_t2t.columns = ['Chromosome', 'Start', 'End', 'RD']
sample_t2t['RD'] = sample_t2t['RD'] * 2 
sample_t2t = sample_t2t[sample_t2t['Chromosome'] != 'chrM']
sample_t2t['assembly'] = 'T2T-CHM13'
sample_t2t = sample_t2t[sample_t2t['Chromosome'] == 'chr8']
sample_t2t =sample_t2t[sample_t2t['Start'] > 23303027]#chr8:120264986-120277609
sample_t2t =sample_t2t[sample_t2t['End'] < 23421904]
sample_t2t

    Chromosome       Start         End       RD   assembly
324       chr8  23400001.0  23405000.0  0.00662  T2T-CHM13

In [5]:
# t2t_genome = pd.read_csv('/Users/luciabazan/Downloads/LP6005441-DNA_B10_gb.csv')
t2t_genome = t2t_genome[['#"chrom"','chromStart','chromEnd','ID']]
t2t_genome.columns = ['Chromosome', 'Start', 'End', 'RD']
t2t_genome['assembly'] = 'GenomeBrowser'
t2t_genome = t2t_genome[t2t_genome['Chromosome'] == 'chr8']
#t2t_genome =t2t_genome[t2t_genome['Start'] > 23303727]#chr8:23303727-23421104
#t2t_genome =t2t_genome[t2t_genome['End'] < 23421104]
t2t_genome[t2t_genome['RD'] > 40]
#t2t_genome.sort_values(by=['RD']).tail(50)

NameError: name 't2t_genome' is not defined

In [6]:
sudmant = pd.read_csv('/Users/luciabazan/Downloads/sudmant_data.csv')
sudmant = sudmant[['contig','start','end','OCN_Papuan_HGDP00550_F']]
sudmant.columns =['Chromosome', 'Start', 'End', 'RD']
sudmant['assembly'] = 'SUDMANT'
sudmant = sudmant[sudmant['Chromosome'] == 'chr8']
sudmant =sudmant[sudmant['Start'] > 22886078]#chr4:133174310-133183749
sudmant =sudmant[sudmant['End'] < 23003989]
sudmant

      Chromosome     Start       End  RD assembly
13603       chr8  22981422  22981522   0  SUDMANT
13604       chr8  22996194  23001045   3  SUDMANT
13605       chr8  23003088  23003688   3  SUDMANT
13606       chr8  23001045  23003088   4  SUDMANT
13608       chr8  23001045  23002343   3  SUDMANT
13609       chr8  22981422  22989335   0  SUDMANT