In [24]:
import pandas as pd
from scipy import stats
from pyranges import PyRanges

In [31]:
header_1 = ['Chromosome','Start', 'End', 'Original','Strain']
header_2 = ['Chromosome', 'Start' , 'End']

grch37_to_t2t = pd.read_csv('/Users/luciabazan/Downloads/liftover_vsts_grch37_to_t2tchm13.bed', sep='\t', names=header_1)
grch37_to_t2t = PyRanges(grch37_to_t2t)

t2t_to_grch37 = pd.read_csv('/Users/luciabazan/Downloads/liftover_vsts_t2tchm13_to_grch37.bed', sep='\t', names=header_1)
t2t_to_grch37 = PyRanges(t2t_to_grch37)

grch37 = pd.read_csv('vst_coordinates_grch37.bed', sep='\t', names=header_2)
grch37 = PyRanges(grch37)

t2t = pd.read_csv('vst_coordinates_chm13t2t.bed', sep='\t', names=header_2)
t2t = PyRanges(t2t)

In [43]:
#### GRCh37 to T2T
#t2t.overlap(grch37_to_t2t)

grch37_to_t2tchm13 = grch37_to_t2t.nearest(t2t)
grch37_to_t2tchm13 = grch37_to_t2tchm13.as_df()
grch37_to_t2tchm13.sort_values(by='Distance').head(120)

,Chromosome,Start,End,Original,Strain,Start_b,End_b,Distance
0,chr1,7831877,7831877,chr1:8360202-8360201,1,7831825,7834151,0
37,chr2,153055877,153055877,chr2:153459902-153459901,1,153055549,153057053,0
77,chr3,132785806,132785806,chr3:129760802-129760801,1,132781977,132786907,0
110,chr4,109445526,109445526,chr4:107055602-107055601,1,109445400,109448091,0
340,chr14,67736804,67736804,chr14:73996002-73996001,1,67732433,67738095,0
...,...,...,...,...,...,...,...,...
394,chr17,60153143,60153143,chr17:57362402-57362401,1,60154450,60159973,1308
33,chr1,209786665,209786665,chr1:210721502-210721501,1,209788004,209790064,1340
41,chr2,33584232,33584232,chr2:33763102-33763101,1,33585694,33587377,1463
446,chr22,20794933,20794933,chr22:20744902-20744901,1,20791712,20793449,1485
281,chr10,113241636,113241636,chr10:114110402-114110401,1,113243123,113245209,1488

In [46]:
#### T2T to GRCh37
grch37.overlap(t2t_to_grch37)

t2tchm13_to_grch37 = t2t_to_grch37.nearest(grch37)
t2tchm13_to_grch37 = t2tchm13_to_grch37.as_df()
t2tchm13_to_grch37.sort_values(by='Distance').head(150)

,Chromosome,Start,End,Original,Strain,Start_b,End_b,Distance
0,chr1,8360149,8362503,chr1:7831826-7834151,1,8360201,8360201,0
6738,chr13,108559292,108561139,chr13:107133088-107134929,1,108560101,108560101,0
6737,chr13,78997002,78999379,chr13:77648122-77650506,1,78997501,78997501,0
6351,chr12,117640242,117642079,chr12:117183493-117185320,1,117640401,117640401,0
6350,chr12,38444962,38445962,chr12:38000856-38001855,1,38445601,38445601,0
...,...,...,...,...,...,...,...,...
557,chr1,161409556,161410563,chr1:160576839-160578750,1,161408001,161408001,1556
77,chr1,9841454,9844619,chr1:9324183-9327347,1,9846201,9846201,1583
10007,chr19,35850089,35851089,chr19:37903922-37904921,1,35848501,35848501,1589
2202,chr3,189365160,189367527,chr3:192464052-192466414,1,189363401,189363401,1760
8830,chr16,62545371,62546989,chr16:68299251-68300868,1,62543601,62543601,1771

In [49]:
grch37.intersect(t2t_to_grch37)
#final_cnv = final_cnv.as_df()

+--------------+-----------+-----------+
| Chromosome   | Start     | End       |
| (category)   | (int64)   | (int64)   |
|--------------+-----------+-----------|
| chr1         | 8360201   | 8360201   |
| chr1         | 9846201   | 9846201   |
| chr1         | 62113301  | 62113301  |
| chr1         | 62654201  | 62654201  |
| ...          | ...       | ...       |
| chr20        | 25988601  | 25988601  |
| chr21        | 19325501  | 19325501  |
| chr22        | 45554601  | 45554601  |
| chr22        | 22644701  | 22644701  |
+--------------+-----------+-----------+
Unstranded PyRanges object has 71 rows and 3 columns from 20 chromosomes.
For printing, the PyRanges was sorted on Chromosome.

In [51]:
grch37.overlap(t2t_to_grch37, how="containment")

+--------------+-----------+-----------+
| Chromosome   | Start     | End       |
| (category)   | (int64)   | (int64)   |
|--------------+-----------+-----------|
| chr1         | 8360201   | 8360201   |
| chr1         | 9846201   | 9846201   |
| chr1         | 62113301  | 62113301  |
| chr1         | 62654201  | 62654201  |
| ...          | ...       | ...       |
| chr20        | 25988601  | 25988601  |
| chr21        | 19325501  | 19325501  |
| chr22        | 45554601  | 45554601  |
| chr22        | 22644701  | 22644701  |
+--------------+-----------+-----------+
Unstranded PyRanges object has 71 rows and 3 columns from 20 chromosomes.
For printing, the PyRanges was sorted on Chromosome.

In [65]:
T2T = [10759,454]
GRCH37 = [376, 3]
input_chi = pd.DataFrame([T2T, GRCH37])
input_chi.columns = ['T2T_to_GRCh37', 'GRCh37_to_T2T']
input_chi.index = ['Converted', 'No converted']
input_chi

              T2T_to_GRCh37  GRCh37_to_T2T
Converted             10759            454
No converted            376              3

In [66]:
from scipy import stats

In [67]:
stats.chi2_contingency(input_chi)

Chi2ContingencyResult(statistic=9.429333734541695, pvalue=0.002135418572858588, dof=1, expected_freq=array([[10770.94159765,   442.05840235],
       [  364.05840235,    14.94159765]]))